<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Прачечная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Инфо<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Приемка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ремонт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Стирка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Склад</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Отгрузка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Комментарий</a>
        </li>

      </ul>
    </div>
  </nav>

  <h4 class="my-3">Приемка</h4>
  <blockquote>Выберите размер и укажите количество целого и поврежденного белья.</blockquote>

  <div class="card-group">
    <div class="card">

      <div class="card-body p-0">
        <h5 class="card-title mt-0 mb-3 mx-auto">Наволочка</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Banh My</li>
          <li class="list-group-item">Pho</li>
          <li class="list-group-item">Salad</li>
        </ul>
      </div>

    </div>
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Не профильное</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional content.
        </p>
      </div>

    </div>

  </div>

</div>

<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Прачечная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Инфо<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Приемка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ремонт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Стирка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Склад</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Отгрузка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Комментарий</a>
      </li>

    </ul>
    </div>
</nav>

-->
