<h4>Передано</h4>
<br>
<b>Псевдоним:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.nick}}</a>
<br>
<b>Фамилия:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.surname}}</a>
<br>
<b>Имя:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.usernane}}</a>
<br>
<b>Отчество:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.patronymic}}</a>
<br>
<b>Филиал:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.branchname}}</a>
<br>
<b>Смена от:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.shiftdate | date:'dd.MM.yyyy   HH.mm'}}</a>
<br>
<br>
<br>
<b>Дата передачи:</b><a *ngIf="alTitle !== undefined"> {{alTitle.date_oper | date:'dd.MM.yyyy   HH.mm' }}</a>
<br>
<b>Масса переданнного:</b> <a *ngIf="alTitle !== undefined"> {{alTitle.massa}}</a>

<br>
<br>
<h3>Cписок</h3>
<li *ngFor="let dl of detailList">{{dl.name}}   {{dl.type}}:   {{dl.quant}} шт.  <a *ngIf="dl.bitspoiled===1">поврежденное</a><a *ngIf="dl.bitspoiled===0">прямое</a>
</li>​​
<br>
<button (click)="back()">Далее</button>
<button (click)="toExcel()">Сохранить в Эксель</button>

<!--

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 align-items-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="laundry">Прачечная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Инфо<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="acceptance-laundry">Приемка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="repair-laundry">Ремонт</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Стирка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="warehouse-laundry">Склад</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shipment-laundry">Отгрузка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Комментарий</a>
            </li>

          </ul>
        </div>
      </nav>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h3>Принято в прачечную</h3>

      <h3>Отделение:</h3> <a *ngIf="alTitle !== undefined"> {{alTitle.nick}}</a>

      <h4>Фамилия:</h4> <a *ngIf="alTitle !== undefined"> {{alTitle.surname}}</a>

      <h4>Имя:</h4> <a *ngIf="alTitle !== undefined"> {{alTitle.usernane}}</a>

      <h4>Отчество:</h4> <a *ngIf="alTitle !== undefined"> {{alTitle.patronymic}}</a>

      <h4>Филиал:</h4><a *ngIf="alTitle !== undefined"> {{alTitle.branchname}}</a>

      <h4>Смена от:</h4> <a *ngIf="alTitle !== undefined"> {{alTitle.shiftdate | date:'dd.MM.yyyy   HH.mm'}}</a>

      <h3>Дата передачи:<a *ngIf="alTitle !== undefined"> {{alTitle.date_oper | date:'dd.MM.yyyy   HH.mm' }}</a></h3>

      <h3>Масса переданнного: <a *ngIf="alTitle !== undefined"> {{alTitle.massa}} кг.</a></h3>

      <h4>Cписок</h4>

        <li  *ngFor="let dl of detailList">{{dl.name}}   {{dl.type}}:   {{dl.quant}} шт.  <a *ngIf="dl.bitspoiled===1">поврежденное</a>
      <a *ngIf="dl.bitspoiled===0">прямое</a></li>


      <button type="button" class="btn btn-primary mr-3" (click)="back()">Далее</button>
      <button type="button" class="btn btn-primary" (click)="toExcel()">Сохранить в Эксель</button>

    </div>
  </div>
</div>
-->
