<form [formGroup]="positionForm">

  <h4 class="alert mt-2 my-2 py-2 pl-2" style="background-color: #eef1f2;">Должности</h4>

  <div class="card card-body mt-4 p-3">
    <div class="d-flex justify-content-start">

     <!-- Кнопка добавления -->
      <button class="btn btn-outline-primary my-2 mr-4" data-toggle="collapse" title="Добавить должность" href="#collapseNewPosition" aria-expanded="false" aria-controls="collapse1">
        <i class="fa fa-plus"></i>
      </button>

      <!-- Кнопка редактирования -->
      <button class="btn btn-outline-primary my-2 mr-4" (click)="changePosition()"  data-toggle="collapse"  title="Изменить должность" href="#collapseChangePosition" aria-expanded="false" aria-controls="collapse1">
        <i class="fa fa-edit"></i>
      </button>

      <!-- Кнопка модального окна удаления -->
      <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="Удалить должность" data-toggle="modal" data-target="#collapseDeletePosition">
        <i class="fa fa-trash"></i>
      </button>

      <!-- Кнопка раскрытия таблицы -->
      <button type="button" class="btn btn-outline-primary my-2 ml-auto"  title="Список должностей" data-toggle="collapse" data-target="#collapseShowPosition">
        <i class="fa fa-angle-double-down"></i>
      </button>

    </div>

    <div class="collapse" id="collapseNewPosition">
      <div class="card card-body my-2">
        {{sErrorNewPosition}}

        <div class="d-flex justify-content-between">
          <input formControlName="inputNewPosition" type="text" class="form-control" placeholder="Должность" aria-label="" aria-describedby="basic-addon1">
          <button class="btn btn-outline-primary ml-2" (click)="newPosition()" type="button">Сохранить</button>
      </div>
      </div>
    </div>

    <div class="collapse" id="collapseChangePosition">

      <div class="card card-body">
        {{sErrorChangePosition}}

        <div class="d-flex justify-content-between">
          <input formControlName="inputChangePosition" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
          <button class="btn btn-outline-primary ml-2" (click)="OnChangePosition()" type="button">Изменить</button>
        </div>

      </div>

    </div>

    <div class="collapse" id="collapseShowPosition" #summaryPosition>

      <div class="card my-2 px-3">
        <div class="input-group-prepend">
          <div class="card-title p-2 m-0 font-weight-bold text-muted">Отделение</div>
        </div>
        <select class="custom-select mb-3 mr-5" id="inputBranch" formControlName="inputBranch" (change)="onChangeBranch($event)" >
          <option [value]="branch.id" *ngFor="let branch of branchList">{{branch.name}}</option>
        </select>
      </div>


      <ul class="list-group mt-2">
        <li [class.active] = "position === selectedPosition" class="list-group-item" (click)="mu(position)"  *ngFor="let position of positionList">

          <div class=" d-flex justify-content-between my-0">
              <input type="checkbox" class="input-group-text" id="checkPosition{{position.id}}" formControlName="checkPosition{{position.id}}">
              <span class="mx-2 pt-1">{{position['name']}}</span>&nbsp;
              <span class="mr-2 ml-auto pt-1">&#8381;</span>
              <input type="text" class="form-control w-25" id="price{{position.id}}" formControlName="price{{position.id}}">

          </div>
        </li>
      </ul>

      <button class="btn btn-outline-primary mt-3" (click)="savePrice()">Сохранить</button>

    </div>

    <!-- Модальное окно удаления -->
    <div class="modal fade" id="collapseDeletePosition" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLongTitle">Удаление должности</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Вы уверены что желаете удалить должность <span class="font-weight-bold"> "{{sPosition}}"</span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Нет</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="OnDeletePosition()">Да</button>
          </div>
        </div>
      </div>
    </div>


  </div>

</form>
