::-webkit-input-placeholder {color:#A6BBC8;}
::-moz-placeholder          {color:#A6BBC8;}/* Firefox 19+ */
:-moz-placeholder           {color:#A6BBC8;}/* Firefox 18- */
:-ms-input-placeholder      {color:#A6BBC8;}
