<app-header-menu></app-header-menu>
<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <app-mainmenu></app-mainmenu>
    </div>

    <div class="col-10">
      <h3 class="alert alert-dark mt-4" style="background-color: #eef1f2;">Новая инструкция</h3>


      <form [formGroup]="biblionewForm">

        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-4"><p class="p-0"><span class="mr-4">Дата:</span><span class="mr-4 text-muted font-weight-bold">{{fromDateStr}}</span></p></div>
          <div class="col-sm-12 col-md-12 col-lg-4"> <p class="p-0"><span class="mr-4">От:</span><span class="mr-4 text-muted font-weight-bold">{{nick}}</span></p></div>
          <div class="col-sm-12 col-md-12 col-lg-4"><p class="p-0"><span class="mr-4">Отделение:</span><span class="mr-4 text-muted font-weight-bold">{{BranchName}}</span></p></div>
        </div>

        <!--
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
     -->

        <div class="d-flex justify-content-start mt-2 mb-3">
          <span class="font-weight-bold pt-2 mr-5">Кому</span>
          <select class="custom-select w-50" #textPosition id="textPosition" formControlName="textPosition">
            <option [value]="chPosition.id" *ngFor="let chPosition of positionList">{{chPosition.name}}</option>
          </select>
        </div>




        <div>
          <div class="font-weight-bold">Ситуация</div>
          <textarea formControlName="situation" id="situation" class = "form-control" rows = "3"
                    placeholder="Изложите ситуацию, для которой пишется инструкция."></textarea>
        </div>

        <div class="my-3">
          <span class="pl-2 pt-2 font-weight-bold">Данные</span>
          <textarea formControlName="data_situation" id="data_situation" class = "form-control" rows = "3"
                    placeholder="Предоставьте все данные, необходимые для понимания действий пользователя;
приложите любые документы или рисунки, которые помогут понять способ действий;
приложите необходимую дополнительную информацию."></textarea>
        </div>

        <div class="my-3">
          <span class="pl-2 pt-2 font-weight-bold">Решение</span>
          <input formControlName="data_solution" id="data_solution" class = "form-control" rows = "3"
                 placeholder="Изложите возможные решения, которые помогут пользователю.">
        </div>

        <div class="my-3">
          <span class="pl-2 pt-2 font-weight-bold">Ссылка на видео</span>
          <input formControlName="video_link" id="video_link" class = "form-control" rows = "3"
                 placeholder="Ссылка на видео">
        </div>



        {{ sError }}


        <div class="d-flex justify-content-between my-2">
          <button class="btn btn-outline-primary my-5 mb-1" (click)="saveMassage()">Отправить</button>


        </div>

      </form>


      <!-- загрузка изображений -->
      <div class="card text-center">
        <input type="file" accept="image/*" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
        <button type="button" class="btn btn-link" style="display: block; cursor: pointer; text-decoration: underline;"
                onclick="document.getElementById('avatar').click()">Прикрепить изображение</button>
        <button type="button" class="btn btn-link" (click)="clearFile()" style="display: block; cursor: pointer; text-decoration: underline;">Очистить</button>
      </div>

      <div class="card" #imageloadCard id="imageloadCard">

      </div>

    </div>
  </div>
</div>
