<div class="container">
<app-mainmenu></app-mainmenu>

<form [formGroup]="acclaundform">

<div class="container">

  <app-customer-address  [beginString] = "'Белье, которое вы принмаете с адреса'"
                         [endString]="'(выберите размер и укажите количество):'"
                         [titleString]="'Приемка - '"
                         (ChangedPage)="clickPage($event)">
  </app-customer-address>



  <h2>Приемка</h2>
  <p class="text-info">Выберите размер и укажите количество целого и поврежденного белья.</p>
  <h3 class="alert alert-dark">Прямое белье</h3>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наволочка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>50x70</td>
      <td>{{getCokorFlag('n1')[1]}}<input type="text" (change)="onChandeValid('n1')"  [class]="getCokorFlag('n1')[0] === 0 ? 'form-control' : getCokorFlag('n1')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" name="n1" formControlName="n1" placeholder="шт" id="n1" name="name1"></td>
      <td>{{getCokorFlag('n1_spoiled')[1]}}<input type="text" (change)="onChandeValid('n1_spoiled')" [class]="getCokorFlag('n1_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n1_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n1_spoiled" placeholder="шт" id="name2" name="name2"></td>
    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getCokorFlag('n2')[1]}}<input type="text" (change)="onChandeValid('n2')" [class]="getCokorFlag('n2')[0] === 0 ? 'form-control' : getCokorFlag('n2')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" name="n2" formControlName="n2" placeholder="шт" id="n2" name="name3"></td>
      <td>{{getCokorFlag('n2_spoiled')[1]}}<input type="text" (change)="onChandeValid('n2_spoiled')" [class]="getCokorFlag('n2_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n2_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n2_spoiled" placeholder="шт" id="name4" name="name4"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Простынь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getCokorFlag('n3')[1]}}<input type="text" (change)="onChandeValid('n3')" [class]="getCokorFlag('n3')[0] === 0 ? 'form-control' : getCokorFlag('n3')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n3" placeholder="шт" id="name5" name="name5"></td>
      <td>{{getCokorFlag('n3_spoiled')[1]}}<input type="text" (change)="onChandeValid('n3_spoiled')" [class]="getCokorFlag('n3_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n3_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n3_spoiled" placeholder="шт" id="name6" name="name6"></td>
    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getCokorFlag('n4')[1]}}<input type="text" (change)="onChandeValid('n4')" [class]="getCokorFlag('n4')[0] === 0 ? 'form-control' : getCokorFlag('n4')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n4" placeholder="шт" id="name7" name="name7"></td>
      <td>{{getCokorFlag('n4_spoiled')[1]}}<input type="text" (change)="onChandeValid('n4_spoiled')" [class]="getCokorFlag('n4_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n4_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n4_spoiled" placeholder="шт" id="name8" name="name8"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Пододеяльник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getCokorFlag('n5')[1]}}<input type="text" (change)="onChandeValid('n5')" [class]="getCokorFlag('n5')[0] === 0 ? 'form-control' : getCokorFlag('n5')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n5" placeholder="шт" id="name9" name="name9"></td>
      <td>{{getCokorFlag('n5_spoiled')[1]}}<input type="text" (change)="onChandeValid('n5_spoiled')" [class]="getCokorFlag('n5_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n5_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n5_spoiled" placeholder="шт" id="name10" name="name10"></td>
    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getCokorFlag('n6')[1]}}<input type="text" (change)="onChandeValid('n6')" [class]="getCokorFlag('n6')[0] === 0 ? 'form-control' : getCokorFlag('n6')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n6" placeholder="шт" id="name11" name="name11"></td>
      <td>{{getCokorFlag('n6_spoiled')[1]}}<input type="text" (change)="onChandeValid('n6_spoiled')" [class]="getCokorFlag('n6_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n6_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n6_spoiled" placeholder="шт" id="name12" name="name12"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Полотенце</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>30x60</td>
      <td>{{getCokorFlag('n7')[1]}}<input type="text" (change)="onChandeValid('n7')" [class]="getCokorFlag('n7')[0] === 0 ? 'form-control' : getCokorFlag('n7')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n7" placeholder="шт" id="name13" name="name13"></td>
      <td>{{getCokorFlag('n7_spoiled')[1]}}<input type="text" (change)="onChandeValid('n7_spoiled')" [class]="getCokorFlag('n7_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n7_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n7_spoiled" placeholder="шт" id="name14" name="name14"></td>
    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getCokorFlag('n8')[1]}}<input type="text" (change)="onChandeValid('n8')" [class]="getCokorFlag('n8')[0] === 0 ? 'form-control' : getCokorFlag('n8')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n8" placeholder="шт" id="name15" name="name15"></td>
      <td>{{getCokorFlag('n8_spoiled')[1]}}<input type="text" (change)="onChandeValid('n8_spoiled')" [class]="getCokorFlag('n8_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n8_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n8_spoiled" placeholder="шт" id="name16" name="name16"></td>
    </tr>
    <tr>
      <td>70x140</td>
      <td>{{getCokorFlag('n9')[1]}}<input type="text" (change)="onChandeValid('n9')" [class]="getCokorFlag('n9')[0] === 0 ? 'form-control' : getCokorFlag('n9')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n9" placeholder="шт" id="name17" name="name17"></td>
      <td>{{getCokorFlag('n9_spoiled')[1]}}<input type="text" (change)="onChandeValid('n9_spoiled')" [class]="getCokorFlag('n9_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n9_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n9_spoiled" placeholder="шт" id="name18" name="name18"></td>
    </tr>
    <tr>
      <td>Кухонные</td>
      <td>{{getCokorFlag('n10')[1]}}<input type="text" (change)="onChandeValid('n10')" [class]="getCokorFlag('n10')[0] === 0 ? 'form-control' : getCokorFlag('n10')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n10" placeholder="шт" id="name19" name="name19"></td>
      <td>{{getCokorFlag('n10_spoiled')[1]}}<input type="text" (change)="onChandeValid('n10_spoiled')" [class]="getCokorFlag('n10_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n10_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n10_spoiled" placeholder="шт" id="name20" name="name20"></td>
    </tr>
    </tbody>
  </table>

  <h3 class="alert alert-dark">Не профильное</h3>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Коврик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>Для ванны</td>
      <td>{{getCokorFlag('n11')[1]}}<input type="text" (change)="onChandeValid('n11')" [class]="getCokorFlag('n11')[0] === 0 ? 'form-control' : getCokorFlag('n11')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n11" placeholder="шт" id="name21" name="name21"></td>
      <td>{{getCokorFlag('n11_spoiled')[1]}}<input type="text" (change)="onChandeValid('n11_spoiled')" [class]="getCokorFlag('n11_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n11_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n11_spoiled" placeholder="шт" id="name22" name="name22"></td>
    </tr>
    <tr>
      <td>Придверный</td>
      <td>{{getCokorFlag('n12')[1]}}<input type="text" (change)="onChandeValid('n12')" [class]="getCokorFlag('n12')[0] === 0 ? 'form-control' : getCokorFlag('n12')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n12" placeholder="шт" id="name23" name="name23"></td>
      <td>{{getCokorFlag('n12_spoiled')[1]}}<input type="text" (change)="onChandeValid('n12_spoiled')" [class]="getCokorFlag('n12_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n12_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n12_spoiled" placeholder="шт" id="name24" name="name24"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Одеяло</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getCokorFlag('n13')[1]}}<input type="text" (change)="onChandeValid('n13')" [class]="getCokorFlag('n13')[0] === 0 ? 'form-control' : getCokorFlag('n13')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n13" placeholder="шт" id="name25" name="name25"></td>
      <td>{{getCokorFlag('n13_spoiled')[1]}}<input type="text" (change)="onChandeValid('n13_spoiled')" [class]="getCokorFlag('n13_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n13_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n13_spoiled" placeholder="шт" id="name26" name="name26"></td>
    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getCokorFlag('n14')[1]}}<input type="text" (change)="onChandeValid('n14')" [class]="getCokorFlag('n14')[0] === 0 ? 'form-control' : getCokorFlag('n14')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n14" placeholder="шт" id="name27" name="name27"></td>
      <td>{{getCokorFlag('n14_spoiled')[1]}}<input type="text" (change)="onChandeValid('n14_spoiled')" [class]="getCokorFlag('n14_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n14_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n14_spoiled" placeholder="шт" id="name28" name="name28"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Подушка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>50x70</td>
      <td>{{getCokorFlag('n15')[1]}}<input type="text" (change)="onChandeValid('n15')" [class]="getCokorFlag('n15')[0] === 0 ? 'form-control' : getCokorFlag('n15')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n15" placeholder="шт" id="name29" name="name29"></td>
      <td>{{getCokorFlag('n15_spoiled')[1]}}<input type="text" (change)="onChandeValid('n15_spoiled')" [class]="getCokorFlag('n15_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n15_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n15_spoiled" placeholder="шт" id="name30" name="name30"></td>
    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getCokorFlag('n16')[1]}}<input type="text" (change)="onChandeValid('n16')" [class]="getCokorFlag('n16')[0] === 0 ? 'form-control' : getCokorFlag('n16')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n16" placeholder="шт" id="name31" name="name31"></td>
      <td>{{getCokorFlag('n16_spoiled')[1]}}<input type="text" (change)="onChandeValid('n16_spoiled')" [class]="getCokorFlag('n16_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n16_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n16_spoiled" placeholder="шт" id="name32" name="name32"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наматрасник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getCokorFlag('n17')[1]}}<input type="text" (change)="onChandeValid('n17')" [class]="getCokorFlag('n17')[0] === 0 ? 'form-control' : getCokorFlag('n17')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n17" placeholder="шт" id="name33" name="name33"></td>
      <td>{{getCokorFlag('n17_spoiled')[1]}}<input type="text" (change)="onChandeValid('n17_spoiled')" [class]="getCokorFlag('n17_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n17_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n17_spoiled" placeholder="шт" id="name34" name="name34"></td>
    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getCokorFlag('n18')[1]}}<input type="text" (change)="onChandeValid('n18')" [class]="getCokorFlag('n18')[0] === 0 ? 'form-control' : getCokorFlag('n18')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n18" placeholder="шт" id="name35" name="name36"></td>
      <td>{{getCokorFlag('n18_spoiled')[1]}}<input type="text" (change)="onChandeValid('n18_spoiled')" [class]="getCokorFlag('n18_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n18_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n18_spoiled" placeholder="шт" id="name37" name="name37"></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Шторы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
      <td>Поврежденное</td>
    </tr>
    <tr>
      <td>Шторы</td>
      <td>{{getCokorFlag('n19')[1]}}<input type="text" (change)="onChandeValid('n19')" [class]="getCokorFlag('n19')[0] === 0 ? 'form-control' : getCokorFlag('n19')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n19" placeholder="шт" id="name38" name="name38"></td>
      <td>{{getCokorFlag('n19_spoiled')[1]}}<input type="text" (change)="onChandeValid('n19_spoiled')" [class]="getCokorFlag('n19_spoiled')[0] === 0 ? 'form-control' : getCokorFlag('n19_spoiled')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="n19_spoiled" placeholder="шт" id="name39" name="name39"></td>

    </tr>
    <tr>
      <th>Общий вес белья:</th>
      <td>{{getCokorFlag('massa')[1]}}<input (change)="onChandeValid('massa')" [class]="getCokorFlag('massa')[0] === 0 ? 'form-control' : getCokorFlag('massa')[0] === 1 ? 'form-control is-invalid' : 'form-control is-valid'" formControlName="massa" type="text" placeholder="кг" id="name40" name="name40"></td>
    </tr>
    </tbody>
  </table>

  <button (click)="send_data()"
          [disabled]="acclaundform.value.n1=='' && acclaundform.value.n1_spoiled=='' &&
                      acclaundform.value.n2=='' && acclaundform.value.n2_spoiled=='' &&
                      acclaundform.value.n3=='' && acclaundform.value.n3_spoiled=='' &&
                      acclaundform.value.n4=='' && acclaundform.value.n4_spoiled=='' &&
                      acclaundform.value.n5=='' && acclaundform.value.n5_spoiled=='' &&
                      acclaundform.value.n6=='' && acclaundform.value.n6_spoiled=='' &&
                      acclaundform.value.n7=='' && acclaundform.value.n7_spoiled=='' &&
                      acclaundform.value.n8=='' && acclaundform.value.n8_spoiled=='' &&
                      acclaundform.value.n9=='' && acclaundform.value.n9_spoiled=='' &&
                      acclaundform.value.n10=='' && acclaundform.value.n10_spoiled=='' &&
                      acclaundform.value.n11=='' && acclaundform.value.n11_spoiled=='' &&
                      acclaundform.value.n12=='' && acclaundform.value.n12_spoiled=='' &&
                      acclaundform.value.n13=='' && acclaundform.value.n13_spoiled=='' &&
                      acclaundform.value.n14=='' && acclaundform.value.n14_spoiled=='' &&
                      acclaundform.value.n15=='' && acclaundform.value.n15_spoiled=='' &&
                      acclaundform.value.n16=='' && acclaundform.value.n16_spoiled=='' &&
                      acclaundform.value.n17=='' && acclaundform.value.n17_spoiled=='' &&
                      acclaundform.value.n18=='' && acclaundform.value.n18_spoiled=='' &&
                      acclaundform.value.n19=='' && acclaundform.value.n19_spoiled=='' &&
                      acclaundform.value.massa==''"
          type="button" class="btn btn-primary">Отправить</button>




  <p class="text-info">После нажатия кнопки Отправить изменить данные будет нельзя!</p>
  <p class="text-info">{{this.sError}}</p>
  <br><br><br><br>
</div>


</form>


</div>
