<form [formGroup]="addworkForm">


  <h4 class="alert-primary mt-2 my-2 py-2 pl-2">Дополнительные работы</h4>

  <div class="card card-body mt-4 p-3">
    <div class="d-flex justify-content-start">

      <!-- Кнопка добавления -->
      <button class="btn btn-outline-primary my-2 mr-4" data-toggle="collapse" title="Добавить дополнительную работу" href="#collapseNewAW" aria-expanded="false" aria-controls="collapse1">
        <i class="fa fa-plus"></i>
      </button>

      <!-- Кнопка редактирования -->
      <button class="btn btn-outline-primary my-2 mr-4" (click)="changeAW()"  data-toggle="collapse"  title="Изменить дополнительную работу" href="#collapseChangeAW" aria-expanded="false" aria-controls="collapse1">
        <i class="fa fa-edit"></i>
      </button>

      <!-- Кнопка модального окна удаления -->
      <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="Удалить дополнительную работу" data-toggle="modal" data-target="#collapseDeleteAW">
        <i class="fa fa-trash"></i>
      </button>

      <!-- Кнопка раскрытия таблицы -->
     <button type="button" class="btn btn-outline-primary my-2 ml-auto"  title="Список дополнительных работ" data-toggle="collapse" data-target="#collapseShowAW">
        <i class="fa fa-angle-double-down"></i>
      </button>



    </div>

    <div class="collapse" id="collapseNewAW">
      <div class="card card-body my-2">
        {{sErrorNewAW}}
        <div class="input-group">
          <input formControlName="inputNewAW" type="text" class="form-control" placeholder="Работа" aria-label="" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button class="btn btn-success" (click)="newAW()" type="button">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseChangeAW">

      <div class="card card-body">
        {{sErrorChangeAW}}
        <div class="input-group">
          <input formControlName="inputChangeAW" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">

          <div class="input-group-append">
            <button class="btn btn-success" (click)="OnChangeAW()" type="button">Изменить</button>
          </div>

        </div>

      </div>

    </div>

    <div class="collapse" id="collapseShowAW" #summaryAW>

      <div class="input-group my-2 mr-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputBranch">Отделение</label>
        </div>
        <select class="custom-select" id="inputBranch" formControlName="inputBranch" (change)="onChangeBranch($event)" >
          <option [value]="branch.id" *ngFor="let branch of branchList">{{branch.name}}</option>
        </select>
      </div>


    <ul class="list-group mt-2">
      <li [class.active] = "aw === selectedAW" class="list-group-item"  (click)="mu(aw)"  *ngFor="let aw of addworkList">

        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" class="input-group-text" id="checkAddwork{{aw.id}}" formControlName="checkAddwork{{aw.id}}">
          </div>

          <span class="input-group-text">{{aw['name']}}</span>&nbsp;
          <span class="input-group-text">мин</span>

          <div class="col-xs-1">
            <input type="text" class="form-control" id="price{{aw.id}}" formControlName="price{{aw.id}}">
          </div>
        </div>

      </li>
    </ul>

      <button class="form-control" (click)="savePrice()">Сохранить</button>

    </div>

    <!-- Модальное окно удаления -->
    <div class="modal fade" id="collapseDeleteAW" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLongTitle">Удаление дополнительной работы</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Вы уверены что желаете удалить дополнительную работу <span class="font-weight-bold"> "{{sAwName}}"</span>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Нет</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="OnDeleteAW()">Да</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</form>
