.list-group-item:hover {
  background-color: #eef1f2;
  font-weight: bold;
}

li.active{
  color: #1193ff;
  background-color: #eef1f2;
  font-weight: bold;
}

  .form-control{
   width: 70px;
  }

@media screen and (min-width: 300px) and (max-width: 575.98px) {
  label{
    width: auto;
  }
}

