<div class="container">
  <div class="row">
    <div class="col-6">
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
    Добавить подразделение
  </a>
</p>
<div class="collapse" id="collapse1">
  <div class="card card-body">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-success" type="button">Сохранить</button>
      </div>
    </div>

  </div>
</div>

<br>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
    Открыть список подразделений
  </a>
</p>
<div class="collapse" id="collapse2">
  <div class="card card-body">

    <ul class="list-group">
      <li class="list-group-item">Прачечная</li>
      <li class="list-group-item">Такси</li>
      <li class="list-group-item">Уборка</li>
    </ul>

  </div>

</div>


</div>
</div>
</div>

