<div class="row p-0">
  <div class="col-12 py-0">

    <div class="jumbotron">


      <div class="row">
        <div class="col-md-12 col-lg-4">
          <a href="#">
            <img class="img-fluid p-0 mr-auto" src="/assets/img/viktoria-horizontal.png" alt="Victoria logotype" width="326" height="60">
          </a>
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="d-flex justify-content-end">
            <p class="text-muted" id="BranchName" *ngIf="BranchName.toString() !== ''"> {{BranchName}}</p>
            <app-personal-menu></app-personal-menu>
          </div>
        </div>
      </div>

    </div> <!-- Джумботрон -->

  </div>
</div>

