<div class="container">
  <app-mainmenu></app-mainmenu>

  <h2>Дополнительная работа</h2>
  <p class="text-muted">Укажите количество выполненных работ.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">

      <form class="d-flex justify-content-between my-3" [formGroup]="addworkForm" *ngFor="let dl of detailList">



        <label class="font-weight-bold" [for]="'addWork' + dl.id">{{dl.work_name}}{{getAddWorkText(dl.id)}}</label>



        <input class="ml-4" style="max-width: 90px" type="text" [formControlName]="dl.id" [class]="getClassName(dl.id)" [id]="'addWork' + dl.id" placeholder="0">



      </form>


     <button type="button" class="btn btn-outline-primary mt-3" (click)="send_data()">Отправить</button>
      {{this.sError}}
    </div>

  </div>
</div>

<!-- OLD
<div class="container">
  <app-mainmenu></app-mainmenu>

  <h2>Дополнительная работа</h2>
  <p class="text-muted">Укажите количество выполненных работ.</p>

  <form [formGroup]="addworkForm" *ngFor="let dl of detailList">

      <div class="form-group">
        <label [for]="'addWork' + dl.id">{{dl.work_name}}</label>
        {{getAddWorkText(dl.id)}}
        <input type="text"  [formControlName]="dl.id" [class]="getClassName(dl.id)" [id]="'addWork' + dl.id" placeholder="0">
      </div>

  </form>
 <button type="button" class="btn btn-outline-primary" (click)="send_data()">Отправить</button>
  {{this.sError}}

</div>

-->
