    <ul class="nav nav-tabs mt-4">

      <li *ngFor="let al of addressList" (click)="onElem(al.id_address)" class="nav-item">
        <a *ngIf="al.id_address === selectedID" class="nav-link active" style="font-weight: 700; color: #007bff" data-toggle="tab" [href]="'#address'+al.id_address" >{{al.address}}</a>
        <a *ngIf="al.id_address !== selectedID" class="nav-link"  style="color: #495057" data-toggle="tab" [href]="'#address'+al.id_address" >{{al.address}}</a>
      </li>
    </ul>


    <div class="tab-content py-3">

      <div *ngFor="let al2 of addressList; let i = index" [class]="al2.id_address === this.selectedID ? 'tab-pane fade active show' : 'tab-pane fade' " [id]="'address'+al2.id_address">
       <!--   <h2 class="h4 mb-3">{{titleString}} {{al2.address}}</h2> -->
          <div class="alert alert-info" role="alert">
            {{beginString}} <strong>{{al2.address}}</strong> {{endString}}
          </div>
        </div>

    </div>


