<div class="container">
  <app-mainmenu></app-mainmenu>

  <h2>Дополнительная работа</h2>
  <p class="text-muted">Укажите количество выполненных работ.</p>
  <form>
    <div class="form-group">
      <label for="addWork">Вымыто полов</label>
      <input type="text" class="form-control w-25" id="addWork" placeholder="0">
    </div>
    <div class="form-group">
      <label for="addWork">Открытий окна</label>
      <input type="text" class="form-control w-25" id="addWork1" placeholder="0">
    </div>
    <div class="form-group">
      <label for="addWork">Вынесено мусора</label>
      <input type="text" class="form-control w-25" id="addWork2" placeholder="0">
    </div>
    <div class="form-group">
      <label for="addWork">Еще что-то</label>
      <input type="text" class="form-control w-25" id="addWork3" placeholder="0">
    </div>
    <div class="form-group">
      <label for="addWork">Еще что-то</label>
      <input type="text" class="form-control w-25" id="addWork4" placeholder="0">
    </div>
  </form>
</div>

