
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>#</th>
    <th>Неделя</th>
    <th>Дана начала</th>
    <th>Дата окончания</th>
    <th>Доп. плата </th>
    <th>Итого</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let pl of payList; let i = index; ">

    <th scope="row">{{i+1}}</th>
    <td>{{pl.week_number}}</td>
    <td>{{pl.date_begin | date:'dd.MM.yyyy'}}</td>
    <td>{{pl.date_end | date:'dd.MM.yyyy'}}</td>
    <td>{{pl.summa_addwork}}</td>
    <td>{{pl.summa}}</td>
  </tr>

  </tbody>
</table>
