<div class="container">
     <div class="row">
          <div class="col-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          Выработка
        </div>
        <div class="panel-body">
            <div id="chart"></div>

         </div>

      </div>
     </div>
  </div>
</div>


<!-- Виталик вот отсюда смотри -->
<div class="container mt-5">

  <div class="legend5">

  <div class="square5"></div>
  <div class="txt5">Молодежная, 72</div>
  <div class="txt5">92 %</div>
  </div>

<div class="clearfix"></div>

  <div class="legend6">

    <div class="square6"></div>
    <div class="txt6">Апартаменты</div>
    <div class="txt6">14 %</div>

  </div>

</div>
