<div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          Выработка
        </div>
        <div class="panel-body">


            <div id="chart"></div>

        <div class="legend">

          <div class="legend-item">Парковая,72</div>
          <div class="legend-item">Молодежная,72</div>
          <div class="legend-item">Красных Фортов,13</div>
          <div class="legend-item">Мира,5</div>
          <div class="legend-item">Апартаменты</div>
        </div>

      </div>
      </div>
    </div>




