.panel-heading{
  color: red;
  font-size:2em;
}


#chart{
  width:50%;
  height:50%;
}

.panel-default{
  width:100%;
  margin-bottom: 300px;

}

.legend {
  display: inline-flex;
  width: auto;
  font-size: 18px;
}
.legend-item{
  margin-right:12px;
}


/*
li.list-group-item {
  background-color: red; }
.legend span {
  width: 300px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
}
*/
