.panel-heading{
  color: #53565A;
  font-size:2em;
  float: left;
  margin-bottom: 5%;
}


#chart{
  width:90%;
  height:90%;
  float: left;
  margin-bottom: 30px;
}

.panel-default{
  width:100%;


}
 .legend2 {
   width: 50%;
    font-size: 24px;
    font-weight: 600;

    color: white;
 }

.legend div {
  width: 33.333333%;
  display: inline-flex;
  text-align: left;
  cursor: pointer;
  color: white;
}



/*
 <div class="legend2" style="display: inline-flex">
.legend {
  padding: 5px;
  font: 10px sans-serif;
  background: yellow;
  box-shadow: 2px 2px 1px #888;
}
.legend-item{
  color: red;
}


li.list-group-item {
  background-color: red; }
.legend span {
  width: 300px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
}
*/
