a {
  color: #53565A ;

}
a:hover{
  font-weight: bold;
  background-color: #c6c8ca;
  color: white;
}
li{
  width: 100%;
}
.icon-menu{
  width: 32px;
  height: 32px;
}

/*
#9b9a9e
Фирменный серый - #A6BBC8

li:first-child a:hover{
  background-color: white;
  color: #9b9a9e;
}







.nav-link:active{
  font-weight:bold;
  color: #ff623d;
}
:first-child:hover
#d6d8d9;
*/


