     <div class="container d-flex justify-content-md-center">
     <nav class="navbar navbar-expand text-center mt-3">
        <ul class="nav flex-column">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">



              <!--
              <img src="http://127.0.0.1:3000/images/useravatar/1_1588500113668.jpg" alt="Света" class="rounded-circle" style="width: 48px;height: 48px;" title="Света">
              -->

              <div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">{{this.sUserName}}</div>
              <ng-template #contentLoadAvatar>
                <img [src]="this.sAvatarPath" class="rounded-circle" style="width: 48px;height: 48px;" alt="{{this.sUserName}}" id="img">
              </ng-template>
              <ng-template #contentDefault>
                <img src="/assets/img/usernull.png" class="rounded-circle" style="width: 48px;height: 48px;" alt="{{this.sUserName}}">
              </ng-template>


            </a>
            <div class="dropdown-menu" style="width: 230px">
              <a class="nav-link py-3 pl-2" href="parlor" [style] = "getStyleName(100)"><i class="fa fa-info fa-lg ml-2 mr-3"></i>Кабинет</a>
              <a class="nav-link py-3 pl-3" href="admin" [style] = "getStyleName(101)"><i class="fa fa-user-secret fa-lg mr-2"></i>Администрирование</a>
              <a class="nav-link py-3 pl-3" href="summary-laundry" [style] = "getStyleName(102)"><i class="fa fa-bar-chart fa-lg mr-2"></i>Календарь</a>
              <a class="nav-link py-3 pl-3" href="graph-laundry" [style] = "getStyleName(103)"><i class="fa fa-money fa-lg mr-2"></i>Графики</a>
            </div>


          <li class="nav-item mt-4">
            <a class="nav-link" href="#" [style] ="getStyleName(1)">
              <i class="fa fa-home fa-lg"></i>
              <p>Главная</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="acceptance-laundry" [style] ="getStyleName(2)">
              <i class="fa fa-gift fa-lg"></i>
              <p>Приемка</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="repair-laundry" [style] ="getStyleName(3)">
              <i class="fa fa-cut fa-lg"></i>
              <p>Ремонт</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="washing-laundry" href="washing-laundry"  [style] = "getStyleName(4)">
              <i class="fa fa-life-ring fa-lg"></i>
              <p>Стирка</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="warehouse-laundry" [style] ="getStyleName(5)">
              <i class="fa fa-suitcase fa-lg"></i>
              <p>Склад</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="shipment-laundry" [style] ="getStyleName(6)">
              <i class="fa fa-truck fa-lg"></i>
              <p>Отгрузка</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="add-work" [style] ="getStyleName(7)">
              <i class="fa fa-cog fa-lg"></i>
              <p>Доп. работы</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="comment-laundry" [style] ="getStyleName(8)">
              <i class="fa fa-commenting fa-lg"></i>
              <p>Записки</p>
            </a>
          </li>

        </ul>
      </nav>

     </div>











     <!--




 <nav class="navbar navbar-expand-lg navbar-light bg-t mb-3 p-0">
   <a class="navbar-brand" href="#">Прачечная</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <li class="nav-item">
         <a class="nav-link" href="acceptance-laundry">Приемка</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="repair-laundry">Ремонт</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="washing-laundry">Стирка</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="warehouse-laundry">Склад</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="shipment-laundry">Отгрузка</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="add-work">Доп. работы</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="comment-laundry">Комментарий</a>
       </li>

       <li class="nav-item">
         <a class="nav-link" href="parlor">Инфо</a>
       </li>

       <li class="nav-item" *ngIf="id_user_vict === 1">
         <a class="nav-link" href="admin">Администрирование</a>
       </li>

       <li class="nav-item">
         <a class="nav-link" href="summary-laundry">Результаты</a>
       </li>

       <li class="nav-item">
         <a class="nav-link" href="payment-laundry">Оплата</a>
       </li>


     </ul>
   </div>
 </nav>


-->
