    <nav class="navbar navbar mt-n2 p-0">
        <ul class="nav flex-column mx-auto">


          <li class="nav-item mt-4 text-center">
            <a class="nav-link" href="#" (click)="onHome()" [style] ="getStyleName(1)">
              <span class="icon icon-home" style="font-size: 2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Главная</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="acceptance-laundry" [style] ="getStyleName(2)">
              <span class="icon icon-acceptance" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Приемка</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="repair-laundry" [style] ="getStyleName(3)">
              <span class="icon icon-repair" style="font-size: 2.6rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Ремонт</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="washing-laundry" href="washing-laundry"  [style] = "getStyleName(4)">
              <span class="icon icon-washing" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Стирка</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="warehouse-laundry" [style] ="getStyleName(5)">
              <span class="icon icon-warehouse" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Склад</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="shipment-laundry" [style] ="getStyleName(6)">
              <span class="icon icon-shipment" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Отгрузка</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="add-work" [style] ="getStyleName(7)">
              <span class="icon icon-addwork" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Доп. работы</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="comment-laundry" [style] ="getStyleName(8)">
              <span class="icon icon-zsr" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">ЗCР</span></p>
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link" href="biblio-laundry" [style] ="getStyleName(9)">
              <span class="icon icon-biblio2" style="font-size: 2.2rem;"></span>
              <p class="pb-1"><span class="d-none d-sm-block">Знания</span></p>
            </a>
          </li>

        </ul>
      </nav>


