<form [formGroup]="commentlineForm">


  <div class="card my-2 p-2">
    <div class="d-flex justify-content-start my-2">


      <span *ngIf="unread == 0" class="text-muted mr-3"> <i class="fa fa-envelope-open-o fa-lg" aria-hidden="true"></i> </span>
      <span *ngIf="unread == 1" class="text-muted mr-3"> <i class="fa fa-envelope-open fa-lg" aria-hidden="true">   </i> </span>

      <span class="text-muted mr-3">{{sDate}}</span>
      <span class="text-muted mr-3" style="width: 20%">{{sFrom}}</span>

      <span class="text-muted mr-3" style="width: 40%;"> {{sSituationLittle}}</span>

      <span *ngIf="sSituationSumma != 0" class="text-muted pl-4"> {{sSituationSumma}} </span>


      <button #openButton class="btn btn-outline-primary ml-auto" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
             title="Прочитать" (click)="onButtonCollapse($event)" style="max-height: 38px">  <i class="fa fa-angle-double-down" aria-hidden="true"></i>

      </button>


    </div>
  </div>



  <div #summaryPositionLine class="collapse" id="collapseExample">

    <div class="card my-3 p-3 border-primary rounded">

      <div class="d-flex justify-content-between my-2 ">

       <p>
        <span class="mr-4">Дата:</span>
        <span class="mr-4 text-muted font-weight-bold">{{sDate}}</span>
      </p>

      <p>
        <span class="mr-4">{{TextFromTo}}:</span>
        <span class="mr-4 text-muted font-weight-bold">{{sFrom}}</span>
       </p>

      <p>
        <span class="mr-4">Отделение:</span>
        <span class="mr-4 text-muted font-weight-bold">{{sBranch}}</span>
      </p>

    </div>


      <div>
      <div class="font-weight-bold">Ситуация</div>
      <textarea formControlName="situation{{id_message}}" id="situation" class = "form-control" rows = "3" placeholder="Описание ситуации"></textarea>
      </div>


      <div class="my-3">
       <span class="pl-2 pt-2 font-weight-bold">Данные</span>
       <textarea id="data_situation" formControlName="data_situation{{id_message}}" class ="form-control" rows = "3" placeholder="Данные о ситуации"></textarea>
     </div>



<div *ngIf="intInstruction == 0">

  <div class="d-flex justify-content my-2 ">
        <span class="font-weight-bold pt-2 mr-5">Сумма, &#8381;</span>
        <input class="form-control w-25" formControlName="summa{{id_message}}" placeholder="сумма">
  </div>


    <div class="d-flex justify-content-between my-3 w-25">
         <div class="custom-control custom-radio">
            <input  class="custom-control-input"(change)="ocClickResumeCheck()" id="resume_1" type="radio" formControlName="checkResume{{id_message}}" value="1">
            <label class="custom-control-label font-weight-bold text-muted" >Принять</label>
         </div>
         <div class="custom-control custom-radio">
            <input class="custom-control-input" (change)="ocClickResumeCheck()" id="resume_2" type="radio"  formControlName="checkResume{{id_message}}" value="2">
            <label class="custom-control-label font-weight-bold text-muted" for="resume_2">Отказ</label>
         </div>
   </div>


      <div class="pl-2 pt-2 font-weight-bold">Резюме</div>
        <input formControlName="respResume{{id_message}}" class="form-control mt-1" placeholder="Введите ответ">
     </div>


        {{sError}}
        <button *ngIf="this.intResponseSucc == 0 && this.intInstruction == 0" (click)="onClickResume()"  class="btn btn-outline-primary my-3 mb-1 w-25">Отправить</button>


<!--
    <div *ngFor = "let sPath of imageResGlobal">
      <div class="card">
        <div class="card-body">
          <img src="{{sPath}}" height = 200>
        </div>
      </div>
    </div>
-->
      <div class="my-2" *ngIf = "imageResGlobal.length > 0">
      <app-comment-image [imageResGlobal]="imageResGlobal"></app-comment-image>
      </div>


      <div class="card" id="image-load">

      </div>

    </div>
  </div>
</form>
