<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>Галина Шуляренко</h2>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary">Начать смену</button>

    </div>
  </div>


  <div class="row">
    <div class="col-6">

      <ul class="list-group">
        <li class="list-group-item">Дата начала смены<span class="startDate">29.03.2020</span></li>
        <li class="list-group-item">Время начала смены<span class="startTime">06.00</span></li>
        <li class="list-group-item">Выработка за неделю<span class="weeklyOutput">500</span></li>
        <li class="list-group-item">Часов за неделю<span class="hoursWeek">42</span></li>
        <li class="list-group-item">З/п за неделю<span class="wagesWeek">6500</span></li>
        <li class="list-group-item">Бонусы за неделю<span class="weeklyBonus">30</span></li>
        <li class="list-group-item">Итого, руб.<span class="totalRuble">5410</span></li>
        <li class="list-group-item">З/п за смену<span class="wagesShift">650</span></li>
        <li class="list-group-item">Рейтинг сотрудника<span class="employeeRating">20</span></li>
      </ul>

    </div>
  </div>
</div>









