<div class="container-fluid">

  <div class="row">
    <div class="col-6">
      <h2>{{this.userName+' '+this.userSurname}}</h2>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary" (click)="onShift()">{{titleShift}}</button>
    </div>
  </div>


  <div class="row">
    <div class="col-6">

      <ul class="list-group">
        <li class="list-group-item">Дата начала смены<span class="startDate">{{this.titleShiftDate | date:'dd.MM.yyyy'}}</span></li>
        <li class="list-group-item">Время начала смены<span class="startTime">{{this.titleShiftDate | date:'HH.mm'}}</span></li>
        <li class="list-group-item">Выработка за неделю<span class="weeklyOutput">500</span></li>
        <li class="list-group-item">Часов за неделю<span class="hoursWeek">42</span></li>
        <li class="list-group-item">З/п за неделю<span class="wagesWeek">6500</span></li>
        <li class="list-group-item">Бонусы за неделю<span class="weeklyBonus">30</span></li>
        <li class="list-group-item">Итого, руб.<span class="totalRuble">5410</span></li>
        <li class="list-group-item">З/п за смену<span class="wagesShift">650</span></li>
        <li class="list-group-item">Рейтинг сотрудника<span class="employeeRating">20</span></li>
      </ul>

      <button type="button" class="btn btn-primary" (click)="logout()">Выход из системы</button>

    </div>
  </div>

</div>









