<div class="container">
  <app-mainmenu></app-mainmenu>

  <h3 class="alert-info mt-2 mb-3">Принято на склад</h3>

  <ul class="list-group">
    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Пользователь:</h5>   <a *ngIf="alTitle !== undefined">   <span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.nick}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Адрес отправки:</h5>   <a *ngIf="alTitle !== undefined">   <span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.address}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Фамилия:</h5> <a *ngIf="alTitle !== undefined"> <span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.surname}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Имя:</h5> <a *ngIf="alTitle !== undefined"><span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.usernane}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Отчество:</h5> <a *ngIf="alTitle !== undefined"><span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.patronymic}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Филиал:</h5><a *ngIf="alTitle !== undefined"><span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.branchname}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Смена от:</h5> <a *ngIf="alTitle !== undefined"><span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.shiftdate | date:'dd.MM.yyyy   HH.mm'}}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Дата передачи:</h5><a *ngIf="alTitle !== undefined"><span class="badge badge-secondary p-2 badge-pill ml-5">{{alTitle.date_oper | date:'dd.MM.yyyy   HH.mm' }}</span></a></li>

    <li class="list-group-item-borderless d-flex"><h5 class="text-muted w-25">Масса переданнного:</h5> <a *ngIf="alTitle !== undefined"> <span class="badge badge-secondary p-2 badge-pill ml-5"> {{alTitle.massa}}</span> кг.</a></li>
  </ul>

  <h5 class="alert-info  mt-2 mb-3">Cписок</h5>


  <ul class="list-group"  *ngFor="let dl of detailList">
    <li class="list-group-item d-flex">
      <div class="flex-fill">{{dl.name}}</div>
      <div class="flex-fill mx-3">{{dl.type}}</div>


      <div class="flex-fill font-italic mx-2">  <a class="font-italic mx-2"><a *ngIf="dl.bitadd===1">приход</a><a *ngIf="dl.bitadd===0">расход</a></a></div>

      <div class="float-right mw-10">
        <span class="badge badge-primary p-2 badge-pill">{{dl.quant}}</span>
      </div>

    </li>
  </ul>

  <div class="d-flex justify-content-between">
  <button type="button" class="btn btn-primary mr-3 mt-5" (click)="back()">Далее</button>
  <button type="button" class="btn btn-primary mt-5" (click)="toExcel()">Сохранить в Эксель</button>
  </div>

</div>
