<div class="container" id = 'convertToPdf'>

  <app-mainmenu></app-mainmenu>

  <form [formGroup]="washingForm">

  <app-customer-address  [beginString] = "'Белье, которое вы постирали для'"
                         [endString]="'(выберите размер и укажите количество):'"
                         [titleString]="'Стирка - '"
                         (ChangedPage)="clickPage($event)">
  </app-customer-address>




  <h3 class="alert alert-dark">Прямое белье</h3>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наволочка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>50x70</td>
      <td>{{getErrorAndText('n1')}}<input type="text" [class]="getClassName('n1')" formControlName="n1"  placeholder="шт" id="name1" name="name1"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getErrorAndText('n2')}}<input type="text" [class]="getClassName('n2')" formControlName="n2"  placeholder="шт" id="name3" name="name3"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Простынь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getErrorAndText('n3')}}<input type="text" [class]="getClassName('n3')" formControlName="n3"  placeholder="шт" id="name5" name="name5"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getErrorAndText('n4')}}<input type="text" [class]="getClassName('n4')" formControlName="n4"  placeholder="шт" id="name7" name="name7"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Пододеяльник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getErrorAndText('n5')}}<input type="text" [class]="getClassName('n5')" formControlName="n5"  placeholder="шт" id="name9" name="name9"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getErrorAndText('n6')}}<input type="text" [class]="getClassName('n6')" formControlName="n6"  placeholder="шт" id="name11" name="name11"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Полотенце</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>30x60</td>
      <td>{{getErrorAndText('n7')}}<input type="text" [class]="getClassName('n7')" formControlName="n7"  placeholder="шт" id="name13" name="name13"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getErrorAndText('n8')}}<input type="text" [class]="getClassName('n8')" formControlName="n8"  placeholder="шт" id="name15" name="name15"></td>

    </tr>
    <tr>
      <td>70x140</td>
      <td>{{getErrorAndText('n9')}}<input type="text" [class]="getClassName('n9')" formControlName="n9"  placeholder="шт" id="name17" name="name17"></td>

    </tr>
    <tr>
      <td>Кухонные</td>
      <td>{{getErrorAndText('n10')}}<input type="text" [class]="getClassName('n10')" formControlName="n10"  placeholder="шт" id="name19" name="name19"></td>

    </tr>
    </tbody>
  </table>

  <h3 class="alert alert-dark">Не профильное</h3>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Коврик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Для ванны</td>
      <td>{{getErrorAndText('n11')}}<input type="text" [class]="getClassName('n11')" formControlName="n11"  placeholder="шт" id="name21" name="name21"></td>

    </tr>
    <tr>
      <td>Придверный</td>
      <td>{{getErrorAndText('n12')}}<input type="text" [class]="getClassName('n12')" formControlName="n12"  placeholder="шт" id="name23" name="name23"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Одеяло</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getErrorAndText('n13')}}<input type="text" [class]="getClassName('n13')" formControlName="n13"  placeholder="шт" id="name25" name="name25"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getErrorAndText('n14')}}<input type="text" [class]="getClassName('n14')" formControlName="n14"  placeholder="шт" id="name27" name="name27"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Подушка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>50x70</td>
      <td>{{getErrorAndText('n15')}}<input type="text" [class]="getClassName('n15')" formControlName="n15"  placeholder="шт" id="name29" name="name29"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td>{{getErrorAndText('n16')}}<input type="text" [class]="getClassName('n16')" formControlName="n16"  placeholder="шт" id="name31" name="name31"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наматрасник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td>{{getErrorAndText('n17')}}<input type="text" [class]="getClassName('n17')" formControlName="n17"  placeholder="шт" id="name33" name="name33"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td>{{getErrorAndText('n18')}}<input type="text" [class]="getClassName('n18')" formControlName="n18"  placeholder="шт" id="name35" name="name36"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Шторы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Шторы</td>
      <td>{{getErrorAndText('n19')}}<input type="text" [class]="getClassName('n19')" formControlName="n19"  placeholder="шт" id="name38" name="name38"></td>


    </tr>
    <tr>
      <th>Общий вес белья:</th>
      <td>{{getMassaText('massa')}}<input type="text" [class]="getClassName('massa')" formControlName="massa"  placeholder="кг" id="name40" name="name40"></td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" (click)="send_data()"
          [disabled]="washingForm.value.n1=='' &&
                      washingForm.value.n2=='' &&
                      washingForm.value.n3=='' &&
                      washingForm.value.n4=='' &&
                      washingForm.value.n5=='' &&
                      washingForm.value.n6=='' &&
                      washingForm.value.n7=='' &&
                      washingForm.value.n8=='' &&
                      washingForm.value.n9=='' &&
                      washingForm.value.n10=='' &&
                      washingForm.value.n11=='' &&
                      washingForm.value.n12=='' &&
                      washingForm.value.n13=='' &&
                      washingForm.value.n14=='' &&
                      washingForm.value.n15=='' &&
                      washingForm.value.n16=='' &&
                      washingForm.value.n17=='' &&
                      washingForm.value.n18=='' &&
                      washingForm.value.n19=='' &&
                      washingForm.value.massa==''">Отправить</button>

  <p class="text-info">После нажатия кнопки Отправить изменить данные будет нельзя!</p>
  <p class="text-info">{{this.sError}}</p>
  <br><br><br><br>
</form>

</div>

<a class="btn btn-primary" data-toggle="collapse"
   href="#collapseWashingReport" role="button" aria-expanded="false" aria-controls="collapseWashingReport">
  В стирке
</a>
<div class="collapse" id="collapseWashingReport">
  <app-report-washing [intAddress]="this.intAddress"></app-report-washing>
</div>
