<div class="container">

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Дом</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="acceptance-laundry">Приемка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="repair-laundry">Ремонт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="washing-laundry">Стирка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="warehouse-laundry">Склад</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shipment-laundry">Отгрузка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="comment-laundry">Комментарий</a>
      </li>

    </ul>
  </nav>

  <h2>Стирка</h2>
  <p class="text-info">Белье, которое вы постирали (выберите размер и укажите количество):</p>
  <h3 class="alert alert-dark">Прямое белье</h3>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наволочка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>50x70</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name1" name="name1"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name3" name="name3"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Простынь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name5" name="name5"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name7" name="name7"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Пододеяльник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name9" name="name9"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name11" name="name11"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Полотенце</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>30x60</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name13" name="name13"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name15" name="name15"></td>

    </tr>
    <tr>
      <td>70x140</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name17" name="name17"></td>

    </tr>
    <tr>
      <td>Кухонные</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name19" name="name19"></td>

    </tr>
    </tbody>
  </table>

  <h3 class="alert alert-dark">Не профильное</h3>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Коврик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Для ванны</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name21" name="name21"></td>

    </tr>
    <tr>
      <td>Придверный</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name23" name="name23"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Одеяло</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name25" name="name25"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name27" name="name27"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Подушка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>50x70</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name29" name="name29"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name31" name="name31"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наматрасник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name33" name="name33"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name35" name="name36"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Шторы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Шторы</td>
      <td><input type="text" class="form-control" placeholder="шт" id="name38" name="name38"></td>


    </tr>
    <tr>
      <th>Общий вес белья:</th>
      <td><input type="text" class="form-control" placeholder="кг" id="name40" name="name40"></td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary">Отправить</button>
  <p class="text-info">После нажатия кнопки Отправить изменить данные будет нельзя!</p>
  <br><br><br><br>
</div>

