<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron py-2">


        <div class="d-flex justify-content-center">
          <img class="pr-2" src="/assets/img/logo-victoria.png" alt="Логотип" title="Виктория">
          <h2 class="pt-2 mr-3 font-weight-bold text-muted">Виктория</h2>
        </div>
        <div class="copyright-text">
          <p>© 2020
            <a href="#"></a>. All rights reserved. Created by
            <a href="#">Виктория</a>
          </p>
        </div>





        <!--     <div class="shadow-sm p-2 bg-white rounded"></div>    -->


      </div>
    </div>
  </div>
</div>
