
/*
.card-body{
  padding-top: 1%;
}
.card-title{
  line-height: 0.5;
}
.card-subtitle2{
  text-align: right;
  display: inline-block;
}
.card-subtitle{
  position: relative;
  margin: 0.2rem 0.9rem 0 0;
}
.size{
  display: block;

}
p{
  margin-bottom: 1px;
}
.form-control{
  width:60px;
}
#first_name{
  margin-right:3.9rem;
}
#last_name{
  margin-right:0.9rem;
}
*/
