

<!--


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="blockquote text-center">Выберите размер и укажите количество целого и поврежденного белья.</div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-body">
    <div class="col-4">

    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h5 class="card-title">Наволочка</h5>
    </div>

  </div>
  <div class="row">
    <div class="col-4">

    </div>
  </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="blockquote text-center">Выберите размер и укажите количество целого и поврежденного белья.</div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card w-40">
        <div class="card-body h-75">
          <h5 class="card-title">Наволочка</h5>
          <h6 class="card-subtitle text-muted inline float-right">Целое</h6>
          <h6 class="card-subtitle text-muted inline float-right">Поврежденное</h6>
          <br><br>


          <form class="form-inline">
            <h5>50x70</h5>
            <input type="text" class="form-control inline float-right" placeholder="0" id="first_name" name="first_name">
            <input type="text" class="form-control inline float-right"  placeholder="0" id="last_name" name="last_name">
            <h5>70x70</h5>
            <input type="text" class="form-control inline float-right" placeholder="0" id="first_name1" name="first_name">
            <input type="text" class="form-control inline float-right"  placeholder="0" id="last_name1" name="last_name">
          </form>

        </div>
      </div>

    </div>


    <div class="col-6">
      <div class="card w-40">
        <div class="card-body h-75">
          <h5 class="card-title">Наволочка</h5>
          <h6 class="card-subtitle text-muted inline float-right">Целое</h6>
          <h6 class="card-subtitle text-muted inline float-right">Поврежденное</h6>
          <br><br>


          <form class="form-inline">
            <h5>100x100</h5>
            <input type="text" class="form-control inline float-right" placeholder="0" id="first_name2" name="first_name">
            <input type="text" class="form-control inline float-right"  placeholder="0" id="last_name2" name="last_name">
          </form>

        </div>
      </div>

    </div>




  </div>
</div>

-->
