


<!--

<div class="card card-body p-0 w-25 mx-auto my-auto">
  <div class="row p-0">
    <h5 class="ml-6">Наволочка</h5>
  </div>

  <div class="row">
   <div class="col-6 bg-info">
     <span class="mx-2 block">Целое</span>
   </div>

    <div class="col6 bg-warning">
      <span class="mx-2 block float-right">Поврежденное</span>
    </div>

  </div>


  <form class="form-inline">
    <label class="font-weight-bold" for="as1">75x75</label>
    <input class="form-control mr-sm-2" type="text" placeholder="0" id="as1" style="width:60px;" >
    <input class="form-control mr-sm-2" type="text" placeholder="0" id="as2" style="width:60px;" >
  </form>
</div>

-->


