<div class="container">
  <app-mainmenu></app-mainmenu>

<form [formGroup]="shipmentForm">
<div class="container">


  <app-customer-address  [beginString] = "'Белье, которое вы отправили по адресу'"
                         [endString]="'(выберите размер и укажите количество):'"
                         [titleString]="'Отгрузка - '"
                         (ChangedPage)="clickPage($event)">
  </app-customer-address>

  <div class="row">
    <div class="col-6 align-middle">

      <h3 class="alert alert-dark">Прямое белье</h3>
      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Наволочка</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>
        </tr>
        <tr>
          <td>50x70</td>
          <td>{{getErrorAndText('n1')}}<input type="text" formControlName="n1" [class]="getClassName('n1')" placeholder="шт" id="name1" name="name1"></td>

        </tr>
        <tr>
          <td>70x70</td>
          <td>{{getErrorAndText('n2')}}<input type="text" formControlName="n2" [class]="getClassName('n2')" placeholder="шт" id="name3" name="name3"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Простынь</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>
        </tr>
        <tr>
          <td>1,5 сп</td>
          <td>{{getErrorAndText('n3')}}<input type="text" formControlName="n3" [class]="getClassName('n3')" placeholder="шт" id="name5" name="name5"></td>

        </tr>
        <tr>
          <td>2 сп</td>
          <td>{{getErrorAndText('n4')}}<input type="text" formControlName="n4" [class]="getClassName('n4')" placeholder="шт" id="name7" name="name7"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Пододеяльник</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>1,5 сп</td>
          <td>{{getErrorAndText('n5')}}<input type="text" formControlName="n5" [class]="getClassName('n5')" placeholder="шт" id="name9" name="name9"></td>

        </tr>
        <tr>
          <td>2 сп</td>
          <td>{{getErrorAndText('n6')}}<input type="text" formControlName="n6" [class]="getClassName('n6')" placeholder="шт" id="name11" name="name11"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Полотенце</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>30x60</td>
          <td>{{getErrorAndText('n7')}}<input type="text" formControlName="n7" [class]="getClassName('n7')" placeholder="шт" id="name13" name="name13"></td>

        </tr>
        <tr>
          <td>70x70</td>
          <td>{{getErrorAndText('n8')}}<input type="text" formControlName="n8" [class]="getClassName('n8')" placeholder="шт" id="name15" name="name15"></td>

        </tr>
        <tr>
          <td>70x140</td>
          <td>{{getErrorAndText('n9')}}<input type="text" formControlName="n9" [class]="getClassName('n9')" placeholder="шт" id="name17" name="name17"></td>

        </tr>
        <tr>
          <td>Кухонные</td>
          <td>{{getErrorAndText('n10')}}<input type="text" formControlName="n10" [class]="getClassName('n10')" placeholder="шт" id="name19" name="name19"></td>

        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6 align-middle">
      <h3 class="alert alert-dark">Не профильное</h3>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Коврик</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>Для ванны</td>
          <td>{{getErrorAndText('n11')}}<input type="text" formControlName="n11" [class]="getClassName('n11')" placeholder="шт" id="name21" name="name21"></td>

        </tr>
        <tr>
          <td>Придверный</td>
          <td>{{getErrorAndText('n12')}}<input type="text" formControlName="n12" [class]="getClassName('n12')" placeholder="шт" id="name23" name="name23"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Одеяло</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>1,5 сп</td>
          <td>{{getErrorAndText('n13')}}<input type="text" formControlName="n13" [class]="getClassName('n13')" placeholder="шт" id="name25" name="name25"></td>

        </tr>
        <tr>
          <td>2 сп</td>
          <td>{{getErrorAndText('n14')}}<input type="text" formControlName="n14" [class]="getClassName('n14')" placeholder="шт" id="name27" name="name27"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Подушка</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>50x70</td>
          <td>{{getErrorAndText('n15')}}<input type="text" formControlName="n15" [class]="getClassName('n15')" placeholder="шт" id="name29" name="name29"></td>

        </tr>
        <tr>
          <td>70x70</td>
          <td>{{getErrorAndText('n16')}}<input type="text" formControlName="n16" [class]="getClassName('n16')" placeholder="шт" id="name31" name="name31"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Наматрасник</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>1,5 сп</td>
          <td>{{getErrorAndText('n17')}}<input type="text" formControlName="n17" [class]="getClassName('n17')" placeholder="шт" id="name33" name="name33"></td>

        </tr>
        <tr>
          <td>2 сп</td>
          <td>{{getErrorAndText('n18')}}<input type="text" formControlName="n18" [class]="getClassName('n18')" placeholder="шт" id="name35" name="name36"></td>

        </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
        <tr>
          <th rowspan="3">Шторы</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>Целое</td>

        </tr>
        <tr>
          <td>Шторы</td>
          <td>{{getErrorAndText('n19')}}<input type="text" formControlName="n19" [class]="getClassName('n19')" placeholder="шт" id="name38" name="name38"></td>


        </tr>
        <tr>
          <th>Общий вес белья:</th>
          <td>{{getMassaText('massa')}}<input type="text" formControlName="massa" [class]="getClassName('massa')" placeholder="кг" id="name40" name="name40"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="send_data()"
                [disabled]="shipmentForm.value.n1=='' &&
                      shipmentForm.value.n2=='' &&
                      shipmentForm.value.n3=='' &&
                      shipmentForm.value.n4=='' &&
                      shipmentForm.value.n5=='' &&
                      shipmentForm.value.n6=='' &&
                      shipmentForm.value.n7=='' &&
                      shipmentForm.value.n8=='' &&
                      shipmentForm.value.n9=='' &&
                      shipmentForm.value.n10=='' &&
                      shipmentForm.value.n11=='' &&
                      shipmentForm.value.n12=='' &&
                      shipmentForm.value.n13=='' &&
                      shipmentForm.value.n14=='' &&
                      shipmentForm.value.n15=='' &&
                      shipmentForm.value.n16=='' &&
                      shipmentForm.value.n17=='' &&
                      shipmentForm.value.n18=='' &&
                      shipmentForm.value.n19=='' &&
                      shipmentForm.value.massa==''">Отправить</button>

        <div class="alert alert-warning mt-4" role="alert">
          <strong>Внимание!</strong> После нажатия кнопки <strong>Отправить</strong> изменить данные будет нельзя!
          <p class="text-info">{{this.sError}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
</form>

</div>
