<div class="container">

  <div class="row">
    <div class="col-2">
      <app-mainmenu></app-mainmenu>
    </div>
    <div class="col-10">

      <form [formGroup]="shipmentForm">

        <app-customer-address  [beginString] = "'Белье, которое вы отправили по адресу'"
                               [endString]="'(выберите размер и укажите количество):'"
                               [titleString]="'Отгрузка - '"
                               (ChangedPage)="clickPage($event)">
        </app-customer-address>

        <div class="row">
          <div class="col-6">

            <h3 class="alert alert-dark">Прямое белье</h3>
            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Наволочка</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2 mb-3">Целое</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">50 x 70</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n1')}}</p>
                  <input class="w-25" type="text" [class]="getClassName('n1')" formControlName="n1" placeholder="шт" id="name1" name="name1">
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n1')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary" title="Минус" (click)="globalOnClickMinus('n1')"><i class="fa fa-minus"></i></p>

                </div>

                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">70 x 70</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n2')}}</p>
                  <input class="w-25" type="text" [class]="getClassName('n2')" formControlName="n2" placeholder="шт" id="name3" name="name3">
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n2')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary" title="Минус" (click)="globalOnClickMinus('n2')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Простынь</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">1,5 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n3')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n3')" formControlName="n3" placeholder="шт" id="name5" name="name5"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n3')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n3')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">2 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n4')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n4')" formControlName="n4" placeholder="шт" id="name7" name="name7"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n4')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n4')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Пододеяльник</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">1,5 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n5')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n5')" formControlName="n5" placeholder="шт" id="name9" name="name9"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n5')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n5')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">2 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n6')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n6')" formControlName="n6" placeholder="шт" id="name11" name="name11"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n6')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n6')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Полотенце</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold mb-1">30 x 60</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n7')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n7')" formControlName="n7" placeholder="шт" id="name13" name="name13"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n7')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n7')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold mb-1">70 x 70</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n8')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n8')" formControlName="n8" placeholder="шт" id="name15" name="name15"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n8')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n8')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">70 x 140</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n9')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n9')" formControlName="n9" placeholder="шт" id="name17" name="name17"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n9')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n9')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between mb-1">
                  <label class="w-25 mt-1 font-weight-bold">Кухонные</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n10')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n10')" formControlName="n10" placeholder="шт" id="name19" name="name19"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n10')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n10')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-start">
              <label class="font-weight-bold">Общий вес белья:</label>
              <p class="w-25 ml-3">{{getMassaText('massa')}}
                <input type="text" [class]="getClassName('massa')"  formControlName="massa" placeholder="кг" id="name40" name="name40"></p>
              <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('massa')"><i class="fa fa-plus"></i></p>
              <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('massa')"><i class="fa fa-minus"></i></p>
            </div>


          </div> <!-- end col -6 -->

          <div class="col-6">

            <h3 class="alert alert-dark">Не профильное</h3>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Коврик</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">Для ванны</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n11')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n11')" formControlName="n11" placeholder="шт" id="name21" name="name21"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n11')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n11')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">Придверный</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n12')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n12')" formControlName="n12" placeholder="шт" id="name23" name="name23"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n12')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n12')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Одеяло</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">1,5 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n13')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n13')" formControlName="n13" placeholder="шт" id="name25" name="name25"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n13')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n13')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">2 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n14')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n14')" formControlName="n14" placeholder="шт" id="name27" name="name27"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n14')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n14')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Подушка</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">50 x 70</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n15')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n15')" formControlName="n15" placeholder="шт" id="name29" name="name29"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n15')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n15')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">70 x 70</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n16')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n16')" formControlName="n16" placeholder="шт" id="name31" name="name31"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n16')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n16')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Наматрасник</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">1,5 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n17')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n17')" formControlName="n17" placeholder="шт" id="name33" name="name33"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n17')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n17')"><i class="fa fa-minus"></i></p>
                </div>

                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">2 сп</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n18')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n18')" formControlName="n18" placeholder="шт" id="name35" name="name36"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n18')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n18')"><i class="fa fa-minus"></i></p>
                </div>
              </div>
            </div>

            <div class="card mb-2">
              <div class="card-body py-2">
                <h5 class="card-title">Шторы</h5>

                <div class="d-flex justify-content-between">
                  <span class="w-25"></span>
                  <span class="w-25 ml-2">Целое</span>
                </div>
                <div class="d-flex justify-content-between">
                  <label class="w-25 mt-1 font-weight-bold">Шторы</label>
                  <p class="badge badge-primary badge-pill mx-auto mt-1 pt-2">{{getErrorAndText('n19')}}</p>
                  <p class="w-25"><input type="text" [class]="getClassName('n19')" formControlName="n19" placeholder="шт" id="name38" name="name38"></p>
                  <p class="btn btn-outline-primary mx-1" title="Прибавить" (click)="globalOnClickPlus('n19')"><i class="fa fa-plus"></i></p>
                  <p class="btn btn-outline-primary mr-1" title="Минус" (click)="globalOnClickMinus('n19')"><i class="fa fa-minus"></i></p>
                </div>

              </div>
            </div>




          </div> <!-- end col -6 -->
        </div> <!-- end row -->


        <div class="alert alert-info">
          <h4 class="text-danger">{{this.sError}}</h4>

          <button type="button" class="btn btn-outline-primary mt-2" (click)="send_data()"
                  [disabled]="shipmentForm.value.n1=='' &&
                      shipmentForm.value.n2=='' &&
                      shipmentForm.value.n3=='' &&
                      shipmentForm.value.n4=='' &&
                      shipmentForm.value.n5=='' &&
                      shipmentForm.value.n6=='' &&
                      shipmentForm.value.n7=='' &&
                      shipmentForm.value.n8=='' &&
                      shipmentForm.value.n9=='' &&
                      shipmentForm.value.n10=='' &&
                      shipmentForm.value.n11=='' &&
                      shipmentForm.value.n12=='' &&
                      shipmentForm.value.n13=='' &&
                      shipmentForm.value.n14=='' &&
                      shipmentForm.value.n15=='' &&
                      shipmentForm.value.n16=='' &&
                      shipmentForm.value.n17=='' &&
                      shipmentForm.value.n18=='' &&
                      shipmentForm.value.n19=='' &&
                      shipmentForm.value.massa==''">

            Отправить</button>

          <p class="text-info">После нажатия кнопки Отправить изменить данные будет нельзя!</p>

        </div>

      </form>

      <div class="row">
        <div class="col-12">

          <a class="btn btn-outline-primary my-4 ml-4" data-toggle="collapse"
             href="#collapseWarehouseReport" role="button" aria-expanded="false" aria-controls="collapseWarehouseReport">
            К отправке
          </a>
          <div class="collapse" id="collapseWarehouseReport">
            <app-report-shipment [intAddress]="this.intAddress"></app-report-shipment>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

