<form [formGroup]="warehouseForm">
<div class="container">
  <h2>Прием на склад</h2>
  <p class="text-info">Белье, которое вы сдали на склад (выберите размер и укажите количество):</p>
  <h3 class="alert alert-dark">Прямое белье</h3>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наволочка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>50x70</td>
      <td><input type="text" class="form-control" formControlName="n1" placeholder="шт" id="name1" name="name1"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" formControlName="n2" placeholder="шт" id="name3" name="name3"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Простынь</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>
    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" formControlName="n3" placeholder="шт" id="name5" name="name5"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" formControlName="n4" placeholder="шт" id="name7" name="name7"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Пододеяльник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" formControlName="n5" placeholder="шт" id="name9" name="name9"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" formControlName="n6" placeholder="шт" id="name11" name="name11"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Полотенце</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>30x60</td>
      <td><input type="text" class="form-control" formControlName="n7" placeholder="шт" id="name13" name="name13"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" formControlName="n8" placeholder="шт" id="name15" name="name15"></td>

    </tr>
    <tr>
      <td>70x140</td>
      <td><input type="text" class="form-control" formControlName="n9" placeholder="шт" id="name17" name="name17"></td>

    </tr>
    <tr>
      <td>Кухонные</td>
      <td><input type="text" class="form-control" formControlName="n10" placeholder="шт" id="name19" name="name19"></td>

    </tr>
    </tbody>
  </table>

  <h3 class="alert alert-dark">Не профильное</h3>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Коврик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Для ванны</td>
      <td><input type="text" class="form-control" formControlName="n11" placeholder="шт" id="name21" name="name21"></td>

    </tr>
    <tr>
      <td>Придверный</td>
      <td><input type="text" class="form-control" formControlName="n12" placeholder="шт" id="name23" name="name23"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Одеяло</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" formControlName="n13" placeholder="шт" id="name25" name="name25"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" formControlName="n14" placeholder="шт" id="name27" name="name27"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Подушка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>50x70</td>
      <td><input type="text" class="form-control" formControlName="n15" placeholder="шт" id="name29" name="name29"></td>

    </tr>
    <tr>
      <td>70x70</td>
      <td><input type="text" class="form-control" formControlName="n16" placeholder="шт" id="name31" name="name31"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Наматрасник</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>1,5 сп</td>
      <td><input type="text" class="form-control" formControlName="n17" placeholder="шт" id="name33" name="name33"></td>

    </tr>
    <tr>
      <td>2 сп</td>
      <td><input type="text" class="form-control" formControlName="n18" placeholder="шт" id="name35" name="name36"></td>

    </tr>
    </tbody>
  </table>

  <table class="table table-borderless">
    <thead>
    <tr>
      <th rowspan="3">Шторы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>Целое</td>

    </tr>
    <tr>
      <td>Шторы</td>
      <td><input type="text" class="form-control" formControlName="n19" placeholder="шт" id="name38" name="name38"></td>


    </tr>
    <tr>
      <th>Общий вес белья:</th>
      <td><input type="text" class="form-control"  formControlName="massa" placeholder="кг" id="name40" name="name40"></td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click)="send_data()"
          [disabled]="warehouseForm.value.n1=='' &&
                      warehouseForm.value.n2=='' &&
                      warehouseForm.value.n3=='' &&
                      warehouseForm.value.n4=='' &&
                      warehouseForm.value.n5=='' &&
                      warehouseForm.value.n6=='' &&
                      warehouseForm.value.n7=='' &&
                      warehouseForm.value.n8=='' &&
                      warehouseForm.value.n9=='' &&
                      warehouseForm.value.n10=='' &&
                      warehouseForm.value.n11=='' &&
                      warehouseForm.value.n12=='' &&
                      warehouseForm.value.n13=='' &&
                      warehouseForm.value.n14=='' &&
                      warehouseForm.value.n15=='' &&
                      warehouseForm.value.n16=='' &&
                      warehouseForm.value.n17=='' &&
                      warehouseForm.value.n18=='' &&
                      warehouseForm.value.n19=='' &&
                      warehouseForm.value.massa==''">Отправить</button>
  <p class="text-info">После нажатия кнопки Отправить изменить данные будет нельзя!</p>
  <p class="text-info">{{this.sError}}</p>
  <br><br><br><br>
</div>

</form>
