<form [formGroup]="addressForm">

  <h4 class="alert mt-2 my-2 py-2 pl-2" style="background-color: #eef1f2;">Адреса доставки</h4>

  <div class="card card-body mt-4 p-3">
    <div class="d-flex justify-content-start">

        <!-- Кнопка добавления -->
        <button class="btn btn-outline-primary my-2 mr-4" data-toggle="collapse" title="добавить адрес" href="#collapseNewAD" aria-expanded="false" aria-controls="collapse1">
          <i class="fa fa-plus"></i>
        </button>

        <!-- Кнопка редактирования -->
        <button class="btn btn-outline-primary my-2 mr-4" (click)="changeAD()"  data-toggle="collapse"  title="изменить адрес" href="#collapseChangeAD" aria-expanded="false" aria-controls="collapse1">
          <i class="fa fa-edit"></i>
        </button>

        <!-- Кнопка модального окна удаления -->
        <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="удалить адрес" data-toggle="modal" data-target="#collapseDeleteAD">
          <i class="fa fa-trash"></i>
        </button>

      <!-- Кнопка раскрытия таблицы -->
      <button type="button" class="btn btn-outline-primary my-2 ml-auto"  title="имеющиеся данные" data-toggle="collapse" data-target="#collapseShowAD">
        <i class="fa fa-angle-double-down"></i>
      </button>

      </div>

      <div class="collapse" id="collapseNewAD">
        <div class="card card-body my-2">
          {{sErrorNewAD}}

          <div class="d-flex justify-content-between">

            <input formControlName="inputNewAD" type="text" class="form-control" placeholder="Адрес" aria-label="" aria-describedby="basic-addon1">
<!--  <input formControlName="inputNewADBranch" type="text" class="form-control" placeholder="Филиал" aria-label="" aria-describedby="basic-addon1">  -->

            <button class="btn btn-outline-primary ml-2" (click)="newAD()" type="button">Сохранить</button>

          </div>
        </div>
      </div>

      <div class="collapse" id="collapseChangeAD">

        <div class="card card-body">
          {{sErrorChangeAD}}

          <div class="d-flex justify-content-between">
            <input formControlName="inputChangeAD" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">

<!--
            <input formControlName="inputChangeADBranch" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
-->



            <button class="btn btn-outline-primary ml-2" (click)="OnChangeAD()" type="button">Изменить</button>


          </div>

        </div>

      </div>

      <div class="collapse" id="collapseShowAD">
        <ul class="list-group mt-2">
          <li [class.active] = "ad === selectedAD" class="list-group-item" (click)="mu(ad)"  *ngFor="let ad of addressList">{{ad['address']}}</li>
        </ul>
      </div>

      <!-- Модальное окно удаления -->
      <div class="modal fade" id="collapseDeleteAD" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLongTitle">Удаление адреса</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Вы уверены что желаете удалить адрес <span class="font-weight-bold"> "{{sAdName}}"</span>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Нет</button>
             <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="OnDeleteAD()">Да</button>
            </div>
          </div>
        </div>
      </div>


    </div>

</form>
