<div class="col-2">
  <app-mainmenu></app-mainmenu>
</div>

<div id="graph"></div>


<form [formGroup]="graphForm">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input formControlName="groupYear" type="radio" value="1" (change)="onClick()">
        </div>
      </div>
      <label class="form-control">мясяц</label>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input formControlName="groupYear" type="radio" value="2" (change)="onClick()">
        </div>
      </div>
      <label class="form-control">квартал</label>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input formControlName="groupYear" type="radio" value="3" (change)="onClick()">
        </div>
      </div>
      <label class="form-control">год</label>
    </div>

    <button type="button" class="btn btn-light" (click)="onClickLeft()" > << </button>
    <button type="button" class="btn btn-light" (click)="onClickRifht()"> >> </button>
    <button type="button" class="btn btn-light" (click)="onNow()">сегодня</button>
    <label>{{dateBegin | date:'dd.MM.yyyy'}} {{dateEnd | date:'dd.MM.yyyy'}}</label>
</form>

