<div class="container-fluid">
  <div class="row">
    <div class="col-12">
<!--
    <div class="col-2">
      <app-mainmenu [numberPage]="103"></app-mainmenu>
    </div>
-->



      <h3 class="alert alert-dark mt-3" style="background-color: #eef1f2;">График</h3>

      <div class="card my-5 p-3">
      <div id="graph"></div>
      </div>


      <div class="card my-5 p-3">


      <form [formGroup]="graphForm">

      <div class="row">
        <div class="col-md-12 col-lg-6">

          <div class="d-flex justify-content-between my-4 mx-3">
  <div class="custom-control custom-radio">
    <input type="radio" id="value1" formControlName="groupYear" class="custom-control-input" value="1" (change)="onClick()">
    <label class="custom-control-label font-weight-bold text-muted" for="value1">Месяц</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio"  id="value2" formControlName="groupYear" class="custom-control-input" value="2" (change)="onClick()">
    <label class="custom-control-label font-weight-bold text-muted" for="value2">Квартал</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio"  id="value3" formControlName="groupYear" class="custom-control-input" value="3" (change)="onClick()">
    <label class="custom-control-label font-weight-bold text-muted" for="value3">Год</label>
  </div>
          </div>
      </div>

        <div class="col-md-12 col-lg-6">
  <div class="d-flex justify-content-between my-4 mx-3">

  <button class="btn btn-outline-primary" (click)="onClickLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
  <p class="font-weight-bold text-muted" style="min-width: 15%;">{{dateBegin | date:'dd.MM.yyyy'}}-{{dateEnd | date:'dd.MM.yyyy'}}</p>
  <button class="btn btn-outline-primary" (click)="onClickRifht()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
  <button class="btn btn-outline-primary" (click)="onNow()" > Сегодня </button>

  </div>
      </div>

      </div>



</form>
    </div>
      </div>


  </div>
</div>
