<div class="container">

  <nav class="navbar navbar-expand">
  <ul class="nav nav flex-column">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="http://127.0.0.1:3000/images/useravatar/1_1588010601381.jpg" alt="Света" class="rounded-circle" style="width: 48px;height: 48px;" title="Света">
    </a>
    <div class="dropdown-menu" style="width: 190px">
      <a class="nav-link my-3 pl-3" href="parlor">Инфо</a>
      <a class="nav-link my-3 pl-3" href="admin">Администрирование</a>
      <a class="nav-link my-3 pl-3" href="summary-laundry">Результаты</a>
      <a class="nav-link  my-3 pl-3" href="payment-laundry">Оплата</a>
    </div>


  <li class="nav-item mt-4"> </li>
    <a class="nav-link" href="#">
      <i class="fa fa-home fa-2x" aria-hidden="true"></i>
      <p>Главная</p>
    </a>

  <li class="nav-item">
    <a class="nav-link" href="acceptance-laundry">
      <i class="fa fa-gift fa-2x" aria-hidden="true"></i>
      <p>Приемка</p>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="repair-laundry">
      <i class="fa fa-cut fa-2x" aria-hidden="true"></i>
      <p>Ремонт</p>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="washing-laundry">
      <i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
      <p>Стирка</p>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="warehouse-laundry">
      <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
      <p>Склад</p>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="shipment-laundry">
      <i class="fa fa-truck fa-2x ml-3" aria-hidden="true"></i>
      <p>Отгрузка</p>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="add-work">
      <i class="fa fa-cog fa-2x ml-3" aria-hidden="true"></i>
    <p>Доп. работы</p>
    </a>
  </li>

   <li class="nav-item">
     <a class="nav-link" href="comment-laundry">
     <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
     <p class="mx-auto">Комментарий</p>
     </a>
   </li>

</ul>
  </nav>


</div>





<!--

suitcase

<li class="nav-item">
    <a class="nav-link" href="shipment-laundry">
    <i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
    <p>Отгрузка</p>
    </a>
</li>




<a class="navbar-brand" href="">Прачечная</a>

      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>



*ngIf="id_user_vict === 1"


<p>graph works!</p>
<div id="graph"></div>
-->
