<nav class="navbar navbar-expand-sm bg-basic navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Прачечная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="acceptance-laundry">Приемка</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="repair-laundry">Ремонт</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="washing-laundry">Стирка</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="warehouse-laundry">Склад</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="shipment-laundry">Отгрузка</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="comment-laundry">Комментарий</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="parlor">Инфо</a>
    </li>

    <li *ngIf="id_user_vict === 1" class="nav-item">
      <a class="nav-link" href="admin">Администрирование</a>
    </li>

  </ul>
</nav>

<h3 class="alert-primary my-3">Личный кабинет</h3>

<div style="opacity:0; position: absolute;">{{id_user_vict}}</div>
<div style="opacity:0; position: absolute;">{{nick}}</div>


<div class="leftSide">

  <form [formGroup]="form">

<div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
<ng-template #contentLoadAvatar>
  <img class="logotype" [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
</ng-template>

<ng-template #contentDefault>
  <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
</ng-template>

<div class="up-clear">

  <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
  <label class="photo-upload" onclick="document.getElementById('avatar').click()">Загрузить фото</label>
  <label class="clear" (click)="clearFile()">Очистить</label>
</div>

  </form>
</div>


<!-- ВТОРАЯ ФОРМА НЕ СВЯЗАННАЯ С ФОТО -->


<div class="rightSide">
    <form class="employee-form" [formGroup]="parlorForm">

   <div class="line">
      <label class="user-name">Имя пользователя</label>
      <label class="email">Email</label>
  </div>

   <div class="line">
      <input type="text" class="inputUserName" id="inputUserName" formControlName="inputUserName" placeholder="введите имя пользователя" maxlength="100" title="Не редактируется">
      <input type="text" class="inputEmail" id="inputEmail" formControlName="inputEmail" placeholder="введите Email">
   </div>

      <div class="line">
      <label class="gender">Выбрать пол</label>
      <label class="birth" for="inputBirth">Дата рождения</label>
      </div>


   <div class="line">
      <select class="inputGender" id="inputGender" formControlName="inputGender"  title="Выбрать пол">
        <option  *ngFor="let gl of genderList" [value]="gl.name">
          {{gl.name}}
        </option>
      </select>
     <input  class="inputBirth" type="date" id="inputBirth" name="inputBirth" formControlName="inputBirth">
   </div>

      <!-- начало обработки почтовых ошибок -->

<div *ngIf="parlorForm.controls['inputEmail'].dirty">

  <div class="alertWrong"
       *ngIf="parlorForm.controls['inputEmail'].value.length === 0 ">
    Не указан Email.
  </div>

  <div *ngIf="parlorForm.controls['inputEmail'].value.length > 0">
    <div *ngIf="parlorForm.controls['inputEmail'].invalid; else trueSucc">
      <div class="alertWrong"
           *ngIf="parlorForm.controls['inputEmail'].hasError('errorEmailExists') === true">
        Данный Email уже занят.
      </div>

      <div class="alertWrong"
           *ngIf="parlorForm.controls['inputEmail'].hasError('email') === true">
        Неверно введен Email.
      </div>

    </div>

    <ng-template #trueSucc>

      <div class="alertSuccess">Email свободен.</div>

    </ng-template>

  </div>

</div>

<!-- закончили обработку почтовых ошибок -->


<div class="line">
  <label class="name">Имя</label>
  <label class="lastname">Фамилия</label>
</div>

<div class="line">
  <input type="text" class="input-name" id="inputName" formControlName="inputName" placeholder="Имя">
  <input type="text" class="inputLastname" id="inputLastname" formControlName="inputLastName" placeholder="Фамилия">
</div>

<div class="line">
  <label class="location">Отчество</label>
  <label class="zip">Почтовый индекс</label>
</div>

<div class="line">
  <input type="text" class="input-name"  id="inputPatronymic" formControlName="inputPatronymic" placeholder="Отчество">
  <input type="text" class="inputZip" id="inputZip" formControlName="inputZip" placeholder="почтовый индекс">
</div>


<label class="home-address">Домашний адрес</label>
<input type="text" class="inputHomeAddress" id="inputAddress" formControlName="inputAddress" placeholder="Домашний адрес" maxlength="100">

<label class="phone">Телефон</label>
<input type="text" class="inputPhone" id="inputPhone" formControlName="inputPhone" placeholder="Телефон">

<label class="phone">Телефон 2</label>
<input type="text" class="inputPhone" id="inputPhone2" formControlName="inputPhone2" placeholder="Телефон 2">


<img class="img-lock" src="/assets/img/lock.png" alt="Смена пароля" title="Смена пароля">

<label class="changePass" (click)="accessPassword()">Изменить пароль</label>
<ng-container *ngIf="bShowChangePassword">
  <div class="changepassBox">
    <input (click)="onClearInputError()" type="password" class="inputNewPassword1" id="inputNewPassword1" formControlName="inputNewPassword1" placeholder="Введите новый пароль">
    <input (click)="onClearInputError()" type="password" class="inputNewPassword2" id="inputNewPassword2" formControlName="inputNewPassword2" placeholder="Повторите пароль">


    <button type="submit" class="btn-newPassword" (click)="NewPassword()">Изменить пароль</button>
    <button class="btn-newPasswordCancel" (click)="DisappearFrame()">Отмена</button>


    <ng-container *ngIf="bPasswordNew">Пароль изменен</ng-container>

    <div class="alertWrong" *ngIf="bErrorRepeatPassword">Пароли не совпадают</div>
    <div class="alertWrong" *ngIf="bErrorEmptyPassword">Пароли не должны быть пустыми</div>


    <div *ngIf="parlorForm.controls['inputNewPassword2'].value.length > 0">
      <div *ngIf="parlorForm.controls['inputNewPassword2'].invalid; else truePassword2Template">
        <div class="alertWrong">Повторный пароль не совпадает</div>
      </div>
    </div>

    <ng-template #truePassword2Template>
      <div class="alertSuccess">Пароль совпал</div>
    </ng-template>

  </div>

</ng-container>

</form>

  <div class="line">
    <button type="submit" class="btn-save" (click)="savecv()" [disabled]="parlorForm.invalid" >Сохранить</button>
    <button type="submit" class="btn-cancel" (click)="back()">Отмена</button>
  </div>
</div>
