<p>ЛИЧНЫЙ КАБИНЕТ</p>
<div>Пользователь № {{id_user_vict}}</div>
<div>{{nick}}</div>
<br>

<div class="leftSide">

  <form [formGroup]="form">

<div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Профиль</div>
<ng-template #contentLoadAvatar>
  <img class="logotype" [src]="this.sAvatarPath" alt="Профиль" id="img" onclick="document.getElementById('avatar').click()">
</ng-template>

<ng-template #contentDefault>
  <img src="/assets/img/usernull.png" class="img-thumbnail" onclick="document.getElementById('avatar').click()">
</ng-template>

<div class="up-clear">

  <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
  <label class="photo-upload" onclick="document.getElementById('avatar').click()">Загрузить фото</label>
  <label class="clear" (click)="clearFile()">Очистить</label>
</div>

  </form>
</div>
