@media screen and (min-width: 320px) and (max-width: 991.98px) {
  .row{
    margin:0;
    padding:0;
  }
  #dateBegin{
    font-weight:400;
    font-size: .9em;
    color: #A6BBC8;

  }
}
.notPadd{
  margin:0;
  padding:0;
}
