<div class="container">
<nav>
  <ul class="mcd-menu">
    <li>
      <a href="#" class="active">
        <i class="fa fa-home"></i>
        <strong>Home</strong>
        <small>информация</small>
      </a>
    </li>
    <li>

      <a href="acceptance-laundry">
        <i class="fa fa-suitcase"></i>
        <strong>Приемка</strong>
        <small>внести количество</small>
      </a>
    </li>
    <li>
      <a href="repair-laundry">
        <i class="fa fa-wrench"></i>
        <strong>Ремонт</strong>
        <small>внести количество</small>
      </a>
    </li>
    <li>
      <a href="washing-laundry">
        <i class="fa fa-support"></i>
        <strong>Стирка</strong>
        <small>внести количество</small>
      </a>
    </li>
    <li>
      <a href="warehouse-laundry">
        <i class="fa fa-gift"></i>
        <strong>Склад</strong>
        <small>внести количество</small>
      </a>
    </li>
    <li>
      <a href="shipment-laundry">
        <i class="fa fa-truck"></i>
        <strong>Отгрузка</strong>
        <small>внести количество</small>
      </a>
    </li>
    <li>
      <a href="comment-laundry">
        <i class="fa fa-edit"></i>
        <strong>Написать</strong>
        <small>комментарий</small>
      </a>
    </li>
  </ul>
</nav>



      <h2>{{this.userName+' '+this.userSurname}}</h2>


      <button type="button" class="btn btn-primary" (click)="onShift()">{{titleShift}}</button>



      <ul class="list-group">
        <li class="list-group-item">Дата начала смены<span class="startDate">{{this.titleShiftDate | date:'dd.MM.yyyy'}}</span></li>
        <li class="list-group-item">Время начала смены<span class="startTime">{{this.titleShiftDate | date:'HH.mm'}}</span></li>
        <li class="list-group-item">Выработка за неделю<span class="weeklyOutput">500</span></li>
        <li class="list-group-item">Часов за неделю<span class="hoursWeek">42</span></li>
        <li class="list-group-item">З/п за неделю<span class="wagesWeek">6500</span></li>
        <li class="list-group-item">Бонусы за неделю<span class="weeklyBonus">30</span></li>
        <li class="list-group-item">Итого, руб.<span class="totalRuble">5410</span></li>
        <li class="list-group-item">З/п за смену<span class="wagesShift">650</span></li>
        <li class="list-group-item">Рейтинг сотрудника<span class="employeeRating">20</span></li>
      </ul>

      <button type="button" class="btn btn-primary" (click)="logout()">Выход из системы</button>




</div>
