<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron p-2 m-0">
        <div class="d-flex flex-row justify-content-between">
          <h1 class="my-4 ml-5">{{this.userName+' '+this.userSurname}}</h1>

          <div *ngIf="this.sAvatarPath.length>0;then contentLoadAvatar else contentDefault">Фото</div>
          <ng-template #contentLoadAvatar>
            <img [src]="this.sAvatarPath" class="rounded float-left" alt="Фото" id="img">
          </ng-template>
          <ng-template #contentDefault>
            <img src="/assets/img/usernull.png" class="rounded float-left" alt="Фото">
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <label *ngIf="unreadMessageCount.toString() !== '0'">Непрочитанные сообщения: {{unreadMessageCount}} </label>

  <div class="row">
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 text-center">
      <app-mainmenu [numberPage]="1"></app-mainmenu>
    </div>

    <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">



      <div class="d-flex justify-content-between mt-3">

        <button class="btn btn-outline-primary my-3 mr-auto" type="button" data-toggle="collapse" data-target="#collapseMainFrame"
                aria-expanded="false" aria-controls="collapseMainFrame">
          Статистика
        </button>

          <button type="button" class="btn btn-outline-primary my-3" (click)="onShift()">{{titleShift}}</button>
          <button type="button" class="btn btn-outline-primary my-3 ml-2" (click)="logout()">Выход из системы</button>




      </div>




    <div class="collapse" id="collapseMainFrame">

      <ul class="list-group text-muted font-weight-bold">
        <li class="list-group-item"><span>Неделя</span><span class="alert alert-primary float-right my-0 mx-1">{{this.titleDB | date:'dd.MM.yyyy' }} - {{ this.titleDE | date:'dd.MM.yyyy'}}</span></li>

        <li class="list-group-item"><span>Дата начала смены</span> <span class="alert alert-primary float-right my-0 mx-1">{{this.titleShiftDate | date:'dd.MM.yyyy'}}</span></li>

        <li class="list-group-item"><span>Время начала смены</span> <span class="alert alert-primary float-right my-0 mx-1">{{this.titleShiftDate | date:'HH:mm'}}</span></li>

        <li class="list-group-item"><span>Выработка за неделю</span>
          <span class="alert alert-primary float-right my-0 mx-1">{{Productivity}}</span></li>

        <li class="list-group-item"> <span>Часов за неделю</span>
          <span class="alert alert-primary float-right my-0 mx-1">Часы {{RoundedTime}}</span>
          <span class="alert alert-warning float-right my-0 mx-1">Точно {{ExactTime}}</span>
        </li>
        <li class="list-group-item align-content-end"><span>З/п за неделю</span>
          <span class="alert alert-warning float-right my-0 mx-1" role="alert">{{VirtualBasicPayment}}</span>
        </li>



        <li class="list-group-item"><span>Бонусы за неделю</span>
          <span class="alert alert-warning float-right my-0 mx-1" role="alert">{{VirtualAddwork}}</span>
        </li>

        <li class="list-group-item"><span>Итого, руб.</span>
          <span class="alert alert-primary float-right my-0 mx-1">{{VirtItogo}}</span></li>

        <li class="list-group-item"><span>З/п за смену</span>
          <span class="alert alert-primary float-right my-0 mx-1">{{LastShiftItogo}}</span>
        </li>

        <li class="list-group-item"><span>Недельный рейтинг</span><span class="alert alert-primary float-right my-0 mx-1">{{rating}}</span></li>
      </ul>


      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary my-3" (click)="calendar()">Календарь</button>
        <button class="btn btn-outline-primary my-3" (click)="graph()">График</button>
      </div>

    </div>

  </div>

</div>
</div>


