<div class="container">
  <nav>
    <ul class="mcd-menu">
      <li>
        <a href="#" class="active">
          <i class="fa fa-home"></i>
          <strong>Home</strong>
          <small>информация</small>
        </a>
      </li>
      <li>

          <a href="acceptance-laundry">
          <i class="fa fa-suitcase"></i>
          <strong>Приемка</strong>
          <small>внести количество</small>
        </a>
      </li>
      <li>
        <a href="repair-laundry">
          <i class="fa fa-wrench"></i>
          <strong>Ремонт</strong>
          <small>внести количество</small>
        </a>
      </li>
      <li>
        <a href="washing-laundry">
          <i class="fa fa-support"></i>
          <strong>Стирка</strong>
          <small>внести количество</small>
        </a>
      </li>
      <li>
        <a href="warehouse-laundry">
          <i class="fa fa-gift"></i>
          <strong>Склад</strong>
          <small>внести количество</small>
        </a>
      </li>
      <li>
        <a href="shipment-laundry">
          <i class="fa fa-truck"></i>
          <strong>Отгрузка</strong>
          <small>внести количество</small>
        </a>
      </li>
      <li>
        <a href="comment-laundry">
          <i class="fa fa-edit"></i>
          <strong>Написать</strong>
          <small>комментарий</small>
        </a>
      </li>
        </ul>
  </nav>


  <div class="form-group">

    <label class="mt-3" for="controlTextarea">В текстовое поле вы можете ввести комментарий, который будет передан вашему руководству.<br>
    В поле вы можете ввести запрос, пожелание или предложение.<br><br>

    Пример: "Заканчивается стиральный порошок, порошка осталось на 2 дня, прошу привезти 7кг."<br>

    </label>

  <textarea class="form-control" id="controlTextarea" rows="5"></textarea>
</div>

  <button type="button" class="btn btn-primary">Отправить</button>

</div>
