<div class="container">
  <div class="form-group">

    <label for="controlTextarea4">В текстовое поле вы можете ввести комментарий, который будет передан вашему руководству.<br>
    В поле вы можете ввести запрос, пожелание или предложение.<br><br>

    Пример: "Заканчивается стиральный порошок, порошка осталось на 2 дня, прошу привезти 7кг."<br>

    </label>

  <textarea class="form-control" id="controlTextarea4" rows="5"></textarea>
</div>

  <button type="button" class="btn btn-primary">Отправить</button>

</div>
