<app-header-menu></app-header-menu>
<form [formGroup]="commentLaundryForm">
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
  <app-mainmenu [numberPage]="8"></app-mainmenu>
    </div>

    <div class="col-10">


      <h3 class="alert mt-3 d-flex justify-content-between" style="background-color: #eef1f2;">Записки<button
        type="button" class="btn btn-outline-primary" style="background-color: white; color:#797575;"
        (click)="createNewMessage()">ЗСР</button>
      </h3>

      <div class="card my-4 p-3">
      <div class="row">

<!--
        <div class="col-md-12 col-lg-6 pr-5">
          <div class="d-flex justify-content-between my-2 p-2">

            <div class="custom-control custom-radio">
              <input type="radio" id="value1" class="custom-control-input" formControlName="checkMessage" value="1" (change)="onClickCheck()">
              <label class="custom-control-label font-weight-bold text-muted" for="value1">ЗСР</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio"  id="value2" class="custom-control-input" formControlName="checkMessage" value="2" (change)="onClickCheck()">
              <label class="custom-control-label font-weight-bold text-muted" for="value2">Инструкции</label>
            </div>

          </div>
        </div>
-->

        <div class="col-md-12 p-2 col-lg-6">
          <div class="d-flex justify-content-between my-2">

            <button *ngIf="this.intTypeMessage.toString() == '1'" class="btn btn-outline-primary" (click)="onLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
            <p *ngIf="this.intTypeMessage.toString() == '1'" class="font-weight-bold text-muted" style="min-width: 15%;">{{this.sDate}}</p>
            <button *ngIf="this.intTypeMessage.toString() == '1'" class="btn btn-outline-primary" (click)="onRight()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            <button *ngIf="this.intTypeMessage.toString() == '1'" class="btn btn-outline-primary" (click)="onNow()" > Сегодня </button>

          </div>
        </div>

       </div>
      </div>

      <div class="text-muted" *ngFor="let mline of arrLine">
        <app-comment-line [id_message]="mline.id"
                          [maslineShort]="{sSituationLittle: mline.sSituationLittle,
                                        sDate: mline.sDate,
                                        sSituationSumma: mline.sSituationSumma,
                                        sFrom: mline.sFrom,
                                        unread: mline.unread,
                                        InputOutput: mline.InputOutput,
                                        apply: mline.apply,
                                        intPostponeSolution: mline.intPostponeSolution, result_response: mline.result_response}">
        </app-comment-line>
      </div>


 </div>
 </div>
</div>
</form>
