<div class="container">

  <div class="row">
    <div class="col-2">
      <app-mainmenu></app-mainmenu>
    </div>

    <div class="col-10">
      <h3 class="alert alert-dark mt-4" style="background-color: #eef1f2;">Новая записка</h3>


<form [formGroup]="commentnewForm">


  <div class="d-flex justify-content-between my-2 ">

    <p>
      <span class="mr-4">Дата:</span>
    <span class="mr-4 text-muted font-weight-bold">{{fromDate | date: 'dd.MM.yyyy hh:mm'}}</span>
    </p>

    <p>
      <span class="mr-4">От:</span>
      <span class="mr-4 text-muted font-weight-bold">{{nick}}</span>
    </p>

    <p>
      <span class="mr-4">Отделение:</span>
      <span class="mr-4 text-muted font-weight-bold">{{BranchName}}</span>
    </p>


  </div>

  <!--
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
   -->

  <div class="d-flex justify-content-start mt-2 mb-3">
      <span class="font-weight-bold pt-2 mr-5">Кому</span>
      <select class="custom-select w-50" #textPosition id="textPosition" formControlName="textPosition">
        <option [value]="chPosition.id" *ngFor="let chPosition of positionList">{{chPosition.name}}</option>
      </select>
  </div>






  <!--
  id_user_from
  date_from
  id_position_to
  id_branch
  situation
  data_situation
  summa
  ok
  bit_response
  date_response
  id_user_response
  comment_response
  -->


    <div>
      <div class="font-weight-bold">Ситуация</div>
      <textarea formControlName="situation" id="situation" class = "form-control" rows = "3" placeholder="Описание ситуации"></textarea>
    </div>

  <div class="my-3">
    <span class="pl-2 pt-2 font-weight-bold">Данные</span>
      <textarea formControlName="data_situation" id="data_situation" class = "form-control" rows = "3" placeholder="Данные о ситуации"></textarea>
    </div>

  <div class="d-flex justify-content-start my-2">
    <span class="font-weight-bold pt-2 mr-5">Сумма, &#8381;</span>
        <input formControlName="summa" class="form-control w-25" placeholder="Сумма">


  <button class="btn btn-link font-weight-bold ml-auto" type="button" data-toggle="collapse" data-target="#collapseInstruction" aria-expanded="false" aria-controls="collapseInstruction">
    Инструкция
  </button>
    </div>
  {{ sError }}


  <div class="d-flex justify-content-between my-2">
        <button class="btn btn-outline-primary my-5 mb-1 w-25" (click)="saveMassage()">Отправить</button>

    <div class="collapse" id="collapseInstruction">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkboxInstruction" formControlName="checkInstructuion" (change)="OnCheckInstructuion()">
        <label class="custom-control-label text-muted font-weight-bold" for="checkboxInstruction">Оформить как инструкцию</label>
      </div>
    </div>

  </div>

</form>






    </div>
  </div>


  <!-- загрузка изображений -->
  <div class="card">
    <input type="file" accept="image/*" id="avatar" (change)="onFileChange($event)" #fileInput style="display:none">
    <button type="button" class="btn btn-link" style="display: block; cursor: pointer; text-decoration: underline;"
            onclick="document.getElementById('avatar').click()">Прикрепить изображение</button>
    <button type="button" class="btn btn-link" (click)="clearFile()" style="display: block; cursor: pointer; text-decoration: underline;">Очистить</button>
  </div>




</div>
